<html>
<head>
	<title></title>
</head>
<body>

	<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 


<div id='top_banner' class='navigation animated slideInRight'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>


<div id='logInBanner'>

    <% if user_signed_in? %>
        <p id='greetings'>HELLO <%= current_user.first_name %>!</p>
        <p id='line1a'>|</p>
        <%= link_to "LOG OUT", destroy_user_session_path, :id => 'logOutIcon', :method => :delete %>
        <p id='line2a'>|</p>
    <% else %>
        <%= link_to 'LOG IN', new_user_session_path, :id => 'logInIcon' %>
        <p id='line1'>|</p>
        <%= link_to 'SIGN UP', new_user_registration_path, :id => 'signUpIcon' %> 
        <p id='line2'>|</p>
    <% end %>
<a href='#'id='contactUsIcon' onclick='contactUsNow();return false;'>CONTACT US</A>

<!-- <a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A> -->
  <!-- <p id='line1'>|</p> -->
<!-- <a id='signUpIcon' href='/users/sign_up'>SIGN UP</A> -->
  <!-- <p id='line2'>|</p> -->
<!-- <a href='#'id='contactUsIcon' onclick='contactUsNow();return false;'>CONTACT US</A> -->

</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>

</body>
</html>