<html>
<head>
	<title></title>
</head>
<body id='welcomeBody'>
<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 


<div id='top_banner' class='navigation animated slideInRight'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>

<div id='container' onclick='closeLogin();return false;'>	

<!-- <div id='mainLogo' class='animated slideInLeft'>
<img id='logo' src='/assets/moimLogo.png' id='logo_back'>
</div> -->

<script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('backdrop').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
</script>
<script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('eventsSlideShow').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
</script>
<script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('frontPic').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
</script>
<script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('firstQuote').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
</script>
<script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('welcomeBottom').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
</script>

<div id='backdrop' class='animated fadeIn'></div>
<div id='eventsSlideShow'>
	<div id='crossfade2'>
 	 <img class = "cone" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/grey-movie-poster_zpsuopukpio.jpg">
     <img class = "ctwo" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/reel%20steel_zpsvm0rnv2f.jpg">
     <img class = "cthree" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/postersilence_zpsgse1tzl1.jpg">
     <img class = "cfour" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/ferris_zpszna9osgz.jpg">
	</div>
</div>

	<!-- <div id="welcomepage-background-image" class="background background-image" dataimgwidth="1800"></div>
	<div id="welcomepage-whoweare-summary">
		<h3>Who We Are</h3>
		<p>MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.</p>
		<p>Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.</p>
		<br><br>
	</div>
	<div id="welcomepage-featuredblogs-summary">
		<h3>Featured Blogs</h3>
		<p>Something from blog page</p>
		<br><br>
	</div>
	<div id="welcomepage-sponsors-summary">
		<h3>Sponsors</h3>
		<p>As distinguished collaborating entities that help our signature projects 	thrive, MOI’M Partners and Sponsors are well-represented
		across the financial, media, and product sectors.</p>
		<p> They are our supporters, assisting us to reach our fullest potential. Both Partners and Sponsors share our mission, objectives, and ultimate vision — without them, we could not have made it this far.
		</p>
		<br><br>
	</div>
	<footer class="footer">
		<h3>Contact Us</h3>
		<div class="footer-questions-email">
			<span>For questions or concerns, email us at&nbsp;</span>
			<a href="mailto:help@moimnewyork.com">info@moimnewyork.com</a>
		</div>
		<div class="footer-questions-email">
			<span>For sponsorship opportunities, email us at&nbsp;</span>
				<a href="mailto:sponsorship@moimnewyork.com">sponsorship@moimnewyork.com</a>
		</div>
		<div class="footer-questions-email">
			<span>For event ideas, email us at&nbsp;</span>
			<a href="mailto:event@moimnewyork.com">event@moimnewyork.com</a>
		</div>
		<div class="footer-copyright">
			<span>Copyright 2015 MOI'M | All Rights Reserved |</span> 
			<span>Terms of Use</span><span>|</span>
			<span>Privacy Policy</span>	
			<span class="footer-logopage">
				<a href="http://www.facebook.com/moimnewyork"><%= image_tag 'facebook-logo-white.png', class: "welcomepage-logo" %></a>
				<a href="http://www.instagram.com/moimnewyork"><%= image_tag 'instagram-logo-white.png', class: "welcomepage-logo" %></a>
				<a href="http://www.youtube.com/moimmedia"><%= image_tag 'youtube-logo-white.png', class: "welcomepage-logo" %></a>
			</span>	
		</div>
	</footer> -->


<img id='frontPic' class='animated zoomIn' src = "/assets/newyork.jpg">
         

</div>

<a id='top'></a>



<!-- <a id='theMission'></a>
<div id='missionContent' class='animated slideInUp'>The Mission</div>
 -->
<!-- <a id='theChronicle'></a> -->
<!-- <div id='chronicleLogo' class='animated slideInLeft'><img id='logoSlide' src='/assets/moimLogo.png' id='logo_back'></div> -->
<!-- <div id='chronicleContent' class='animated slideInUp'>The Chronicle</div> -->

<!-- <a id='theTeam'></a> -->
<!-- <div id='teamLogo' class='animated slideInLeft'><img id='logoSlide' src='/assets/moimLogo.png' id='logo_back'></div> -->
<!-- <div id='teamContent' class='animated slideInUp'>The Team</div> -->

<!-- <a id='getInvolved'></a> -->
<!-- <div id='getInvolvedLogo' class='animated slideInLeft'><img id='logoSlide' src='/assets/moimLogo.png' id='logo_back'></div> -->
<!-- <div id='getInvolvedContent' class='animated slideInUp'>Get Involved</div> -->

<a href="#top" class="back-to-top">Back to Top</a>

<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>





<div id='welcomeBottom' class='animated slideInLeft' onclick='closeLogin();return false;'>
<p id='bottomContentWelcome'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>
<div id='firstQuote' class='animated slideInUp'><p id='firstQuoteContent'>
“Networking Through Entertainment, Inspiration Through Networking”
</div>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_smallWelcome'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_smallWelcome'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_smallWelcome'></a>
</div>
</p>

<div id='bottom' class='welcomeBottom'></div>
<div id='welcomeAddress'>
<h2 id='contactHeadingWelcome'>Contact Us</h2>
	<p id='contactLines1Welcome'>
	For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
	</p>
	<p id='contactLines2Welcome'>
	For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
	</p>
	<p id='contactLines3Welcome'>
	For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
	</p>
</div>

</div>
</div>

</div>

</body>
</html>