<html>
<head>
	<title></title>
</head>
<body id='welcomeBody'>



<script type="text/javascript">

// var poster="<div id='posterContainer'></div>"
// var quote="<div id='quoteContainer'>“Networking Through Entertainment, Inspiration Through Networking”</div>"
// var meh="<div id='sWrap'><div id='arrowContainer'><p id='arrowWords'>SCROLL DOWN TO SEE OUR SPONSORS</p></div></div>"
// var one="<img id='posterShow1' src = 'http://i1301.photobucket.com/albums/ag119/jabattack1/AFTER%20HOURS%20Poster_Final%20Approved%20LowRes_zpscu1dy8m0.jpg'>";
// var two="<img id='posterShow2' src = 'http://i1301.photobucket.com/albums/ag119/jabattack1/AFTER%20HOURS%20Poster_Final%20Approved%20LowRes_zpscu1dy8m0.jpg'>";

var grandma=false;



// $(window).load(function() {

//   setTimeout(function() {
//   $('body').append( poster );
//   $('#posterContainer').hide();
//   $('#posterContainer').show( "slide", { direction: "left" }, 500 );
// }, 300);
//     setTimeout(function() {
//   $('body').append( quote );
//   $('#quoteContainer').hide();
//   $('#quoteContainer').show( "slide", { direction: "right" }, 500 );
// }, 300);
//   setTimeout(function() {
//   $('body').append( meh );
//   $('#sWrap').hide();
//   $('#sWrap').show( "slide", { direction: "right" }, 500 );
// }, 100);

// setTimeout(function() {

//   $('#posterContainer').append(one);
//   $('#posterShow1').hide();
//   $('#posterContainer').append(two);
//   $('#posterShow2').hide();

//   while (grandma === false) {
//       setTimeout(function() {
//   $('#posterShow1').fadeIn( 2000 );
// }, 1);
// // $('#posterContainer').append(one);
//   setTimeout(function() {
//   $('#posterShow1').fadeOut( 2000 );
// }, 8000);
//   setTimeout(function() {
//   $('#posterShow2').fadeIn( 2000 );
// }, 10000);
//   setTimeout(function() {
//   $('#posterShow2').fadeOut( 2000);
// }, 18000);
//    setTimeout(function() {
// }, 20000);
//   setTimeout(again, 20001);
// }

// }, 1001);

// setInterval(function(){
//   while (grandma === false) {
//       setTimeout(function() {
//   $('#posterShow1').fadeIn( 2000 );
// }, 1);
// // $('#posterContainer').append(one);
//   setTimeout(function() {
//   $('#posterShow1').fadeOut( 2000 );
// }, 8000);
//   setTimeout(function() {
//   $('#posterShow2').fadeIn( 2000 );
// }, 10000);
//   setTimeout(function() {
//   $('#posterShow2').fadeOut( 2000);
// }, 18000);
//    setTimeout(function() {
// }, 20000);
//   setTimeout(again, 20001);
// }
// }, 21001);

// });

// </script>
   
<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 

<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2">
<!-- <h1>trigger</h1> -->
</div>
<div id="sponsorTrigger1">
</div>
<div id="sponsorTrigger2">
</div>
<div id="sponsorTrigger3">
</div>
<div id="sponsorTrigger4">
</div>
<div id="sponsorTrigger5">
</div>
<div id="sponsorTrigger6">
</div>
<!-- <div id='top_helper'></div> -->
<div id='top_banner' class='navigation'>
  <!-- <nav> -->

<!-- <section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>
 -->


<div id='logInBanner'>

    <% if user_signed_in? %>
        <p id='greetings'>HELLO <%= current_user.first_name %>!</p>
        <p id='line1a'>|</p>
        <%= link_to "LOG OUT", destroy_user_session_path, :id => 'logOutIcon', :method => :delete %>
        <p id='line2a'>|</p>
    <% else %>
        <%= link_to 'LOGIN', new_user_session_path, :id => 'logInIcon' %>
        <p id='line1'>|</p>
        <%= link_to 'SIGN UP', new_user_registration_path, :id => 'signUpIcon' %> 
        <p id='line2'>|</p>
    <% end %>
<a href='#'id='contactUsIcon' onclick='contactUsNow();'>CONTACT US</A>
  <p id='line4'></p>
<img id='glass' src='/assets/magnifying.png'>
<!-- <a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A> -->
  <!-- <p id='line1'>|</p> -->
<!-- <a id='signUpIcon' href='/users/sign_up'>SIGN UP</A> -->
  <!-- <p id='line2'>|</p> -->
<!-- <a href='#'id='contactUsIcon' onclick='contactUsNow();return false;'>CONTACT US</A> -->

</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect' id='aboutTab'>About</a><!-- <img id="aboutArrow" src='/assets/downArrow.PNG'/> -->
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>Events</a></li>
                <!-- <li><a href='/blogs'>BLOG</a></li> -->
                <li><a href='/galleries'>Gallery</a></li>
                <!-- <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li> -->
                <li><a class='communitySelect'>Community</a><!-- <img id="communityArrow" src='/assets/downArrow.PNG'/> -->
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>Press</a></li>
            </ul>
                
</div>


<div id='container' onclick='closeLogin();return false;'>	



<img id='frontPic' class='animated zoomIn' src = "/assets/MOIM_GIF_1.gif">
         

</div>

<a id='topPage'></a>


<a href="#topPage" class="back-to-top">Back to Top</a>

<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>


<script>


$(document).ready(function() {
$('#header1').waypoint(function() {
   $('#welcomeBottom1').fadeOut();
});
});

$(document).ready(function() {
$('#header').waypoint(function() {
   $('#welcomeBottom1').fadeIn( "slow" );
    // $('#sponsorHead1').hide();
    // $('#sponsorHead2').hide();
    // $('#sponsorHead3').hide();
    // $('#sponsorHead4').hide();
    // $('#sponsorRow1').hide();
    // $('#sponsorRow2').hide();
    // $('#sponsorRow3').hide();
    // $('#sponsorRow4').hide();
    // $('#sponsorRow5').hide();
    // $('#sponsorRow6').hide();
    // $('#sponsorRow7').hide();
    // $('#sponsorRow8').hide();
    // $('#sponsorRow9').hide();
    // $('#sponsorRow10').hide();
    // $('#sponsorRow11').hide();
    // $('#sponsorRow12').hide();
});
});

// $(document).ready(function() {
// $('#header2').waypoint(function() {
//   $( "#top_helper" ).animate({
//     backgroundColor: "#161616",
//     height:"0px"
//   }, 200 );

//   $( "#top_banner" ).animate({
//     // width: "70%",
//     backgroundColor: "#161616",
//     marginTop: "0px"
//     // fontSize: "3em",
//     // borderWidth: "10px"
//   }, 200 );
// });
// });

// $(document).ready(function() {
// $('#header1').waypoint(function() {
//   $( "#top_helper" ).animate({
//     backgroundColor: "rgba(0,0,0,0.1)",
//     height:"15px"
//   }, 200 );
//   $( "#top_banner" ).animate({
//     // width: "70%",
//     backgroundColor: "rgba(0,0,0,0.1)",
//     marginTop: "15px"
//     // fontSize: "3em",
//     // borderWidth: "10px"
//   }, 200 );
// });
// });

$(document).ready(function() {
$('#header1').waypoint(function() {
$('#posterContainer').hide( "slide", { direction: "left" }, 500 );
$('#quoteContainer').hide( "slide", { direction: "right" }, 500 );
$('#sWrap').hide( "slide", { direction: "right" }, 500 );
});
});

$(document).ready(function() {
$('#header').waypoint(function() {
$('#posterContainer').show( "slide", { direction: "left" }, 500 );
$('#quoteContainer').show( "slide", { direction: "right" }, 500 );
$('#sWrap').show( "slide", { direction: "right" }, 300 );
});
});
    // $(this).fadeOut(1000, function() {
    //     $(this).css("background-color", "#FF0000").fadeIn(1000);

// var sponsorHead1="<p id='sponsorHead1'>OFFICIAL AND SIGNATURE SPONSORS</p>"
// var sponsorHead2="<p id='sponsorHead2'>PARTNERS AND COLLABORATORS</p>"
// var sponsorHead3="<p id='sponsorHead3'>SPONSORS</p>"
// var sponsorHead4="<p id='sponsorHead4'>PARTICIPATING ORGANIZATIONS</p>"
// var sponsorRow1="<div id='sponsorRow1'><img id='logo1' src='/assets/logos/jinro.png'><img id='logo2' src='/assets/logos/asiana-airline.png'><img id='logo3' src='/assets/logos/hite.png'><img id='logo4' src='/assets/logos/take31.png'></div>"
// var sponsorRow2="<div id='sponsorRow2'><img id='logo5' src='/assets/logos/harman.png'><img id='logo2' src='/assets/logos/asiana-airline.png'><img id='logo3' src='/assets/logos/hite.png'><img id='logo4' src='/assets/logos/take31.png'></div>"
// var sponsorRow3="<div id='sponsorRow3'><img id='logo9' src='/assets/logos/kbs-america.png'><img id='logo10' src='/assets/logos/dramafever.png'><img id='logo11' src='/assets/logos/ALLKPOP.png'></div>"
// var sponsorRow4="<div id='sponsorRow4'><img id='logo12' src='/assets/logos/kbs-america.png'><img id='logo13' src='/assets/logos/dramafever.png'><img id='logo14' src='/assets/logos/ALLKPOP.png'></div>"
// var sponsorRow5="<div id='sponsorRow5'><img id='logo15' src='/assets/logos/KOLLABORATION_NEW-YORK.png'></div>"
// var sponsorRow6="<div id='sponsorRow6'><img id='logo16' src='/assets/logos/BIZFLOW.png'><img id='logo17' src='/assets/logos/CUP&CUP.png'><img id='logo18' src='/assets/logos/JDDA.png'><img id='logo19' src='/assets/logos/KAKABOKA.png'></div>"
// var sponsorRow7="<div id='sponsorRow7'><img id='logo20' src='/assets/logos/mew.png'><img id='logo21' src='/assets/logos/SylvanDental.png'><img id='logo22' src='/assets/logos/YESSTYLE.COM.png'><img id='logo23' src='/assets/logos/Bliss.png'></div>"
// var sponsorRow8="<div id='sponsorRow8'><img id='logo24' src='/assets/logos/GAONNURI.png'><img id='logo25' src='/assets/logos/INCOCO.png'><img id='logo26' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' src='/assets/logos/Olympia.png'></div>"
// var sponsorRow9="<div id='sponsorRow9'><img id='logo28' src='/assets/logos/LOCK-STOCK-BARREL.png'><img id='logo29' src='/assets/logos/SOJU-HAUS.png'><img id='logo30' src='/assets/logos/INCOCO.png'></div>"
// var sponsorRow10="<div id='sponsorRow10'><img id='logo24' src='/assets/logos/GAONNURI.png'><img id='logo25' src='/assets/logos/INCOCO.png'><img id='logo26' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' src='/assets/logos/Olympia.png'></div>"
// var sponsorRow11="<div id='sponsorRow11'><img id='logo24' src='/assets/logos/GAONNURI.png'><img id='logo25' src='/assets/logos/INCOCO.png'><img id='logo26' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' src='/assets/logos/Olympia.png'></div>"
// var sponsorRow12="<div id='sponsorRow12'><img id='logo24' src='/assets/logos/GAONNURI.png'><img id='logo25' src='/assets/logos/INCOCO.png'><img id='logo26' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' src='/assets/logos/Olympia.png'></div>"

// $(window).load(function() {
//     $('#welcomeContent').append(sponsorHead1);
//     $('#welcomeContent').append(sponsorHead2);
//     $('#welcomeContent').append(sponsorHead3);
//     $('#welcomeContent').append(sponsorHead4);
//     $('#welcomeContent').append(sponsorRow1);
//     $('#welcomeContent').append(sponsorRow2);
//     $('#welcomeContent').append(sponsorRow3);
//     $('#welcomeContent').append(sponsorRow4);
//     $('#welcomeContent').append(sponsorRow5);
//     $('#welcomeContent').append(sponsorRow6);
//     $('#welcomeContent').append(sponsorRow7);
//     $('#welcomeContent').append(sponsorRow8);
//     $('#welcomeContent').append(sponsorRow9);
//     $('#welcomeContent').append(sponsorRow10);
//     $('#welcomeContent').append(sponsorRow11);
//     $('#welcomeContent').append(sponsorRow12);
//     $('#sponsorHead1').hide();
//     $('#sponsorHead2').hide();
//     $('#sponsorHead3').hide();
//     $('#sponsorHead4').hide();
//     $('#sponsorRow1').hide();
//     $('#sponsorRow2').hide();
//     $('#sponsorRow3').hide();
//     $('#sponsorRow4').hide();
//     $('#sponsorRow5').hide();
//     $('#sponsorRow6').hide();
//     $('#sponsorRow7').hide();
//     $('#sponsorRow8').hide();
//     $('#sponsorRow9').hide();
//     $('#sponsorRow10').hide();
//     $('#sponsorRow11').hide();
//     $('#sponsorRow12').hide();
// });

// $(document).ready(function() {
// $('#sponsorTrigger1').waypoint(function() {
// $('#sponsorHead1').fadeIn( "slow" );
// setTimeout(function() {
// $('#sponsorRow1').show( "slide", { direction: "right" }, 1000 );
// $('#sponsorRow2').show( "slide", { direction: "left" }, 1000 );
// }, 100);
// });
// });

// $(document).ready(function() {
// $('#sponsorTrigger2').waypoint(function() {
// $('#sponsorHead2').fadeIn( "slow" );
// setTimeout(function() {
// $('#sponsorRow3').show( "slide", { direction: "right" }, 1000 );
// $('#sponsorRow4').show( "slide", { direction: "left" }, 1000 );
// $('#sponsorRow5').show( "slide", { direction: "right" }, 1000 );
// }, 100);
// });
// });

// $(document).ready(function() {
// $('#sponsorTrigger3').waypoint(function() {
// $('#sponsorHead3').fadeIn( "slow" );
// setTimeout(function() {
// $('#sponsorRow6').show( "slide", { direction: "right" }, 1000 );
// $('#sponsorRow7').show( "slide", { direction: "left" }, 1000 );
// }, 100);
// });
// });
// $(document).ready(function() {
// $('#sponsorTrigger4').waypoint(function() {
// setTimeout(function() {
// $('#sponsorRow8').show( "slide", { direction: "right" }, 1000 );
// $('#sponsorRow9').show( "slide", { direction: "left" }, 1000 );
// }, 100);
// });
// });
// $(document).ready(function() {
// $('#sponsorTrigger5').waypoint(function() {
// setTimeout(function() {
// $('#sponsorRow10').show( "slide", { direction: "right" }, 1000 );
// $('#sponsorRow11').show( "slide", { direction: "left" }, 1000 );
// $('#sponsorRow12').show( "slide", { direction: "right" }, 1000 );
// }, 100);
// });
// });
// $(document).ready(function() {
// $('#sponsorTrigger6').waypoint(function() {
// $('#sponsorHead4').fadeIn( "slow" );
// // setTimeout(function() {
// // $('#sponsorRow12').show( "slide", { direction: "right" }, 1000 );
// // }, 100);
// });
// });

</script>

<!-- alert($("div").scrollTop()); -->
<div id='welcomeContent' class='animated slideInUp' onclick='closeLogin();'>

<p id='sponsorHead1'>OFFICIAL AND SIGNATURE SPONSORS</p>
<p id='sponsorHead2'>PARTNERS AND COLLABORATORS</p>
<p id='sponsorHead3'>SPONSORS</p>
<p id='sponsorHead4'>PARTICIPATING ORGANIZATIONS</p>
<div id='sponsorRow1'><a href="http://www.jinrousa.com/" target="_blank"><img id='logo1' class='logoLogo' src='/assets/logos/jinro.png'></a><a href="http://flyasiana.com/" target="_blank"><img id='logo2' class='logoLogo' src='/assets/logos/asiana-airline.png'></a><a href="http://english.hitejinro.com/" target="_blank"><img id='logo3' class='logoLogo' src='/assets/logos/hite.png'></a><a href="http://www.mytake31.com/" target="_blank"><img id='logo4' class='logoLogo' src='/assets/logos/take31.png'></a></div>

<div id='sponsorRow2'><a href="http://www.harman.com/" target="_blank"><img id='logo5' class='logoLogo' src='/assets/logos/harman.png'></a><img id='logo2' class='logoLogo' src='/assets/logos/asiana-airline.png'><img id='logo3' class='logoLogo' src='/assets/logos/hite.png'><img id='logo4' class='logoLogo' src='/assets/logos/take31.png'></div>

<div id='sponsorRow3'><a href="http://kbs-america.com/" target="_blank"><img id='logo9' class='logoLogo' src='/assets/logos/kbs-america.png'></a><a href="https://www.dramafever.com/" target="_blank"><img id='logo10' class='logoLogo' src='/assets/logos/dramafever.png'></a><a href="http://www.allkpop.com/" target="_blank"><img id='logo11' class='logoLogo' src='/assets/logos/ALLKPOP.png'></a></div>

<div id='sponsorRow4'><img id='logo12' class='logoLogo' src='/assets/logos/kbs-america.png'><img id='logo13' class='logoLogo' src='/assets/logos/dramafever.png'><img id='logo14' class='logoLogo' src='/assets/logos/ALLKPOP.png'></div>

<div id='sponsorRow5'><a href="http://www.kollab.nyc/" target="_blank"><img id='logo15' class='logoLogo' src='/assets/logos/KOLLABORATION_NEW-YORK.png'></a></div>

<div id='sponsorRow6'><a href="http://www.bizflow.com/" target="_blank"><img id='logo16' class='logoLogo' src='/assets/logos/BIZFLOW.png'></a><a href="https://www.facebook.com/Cupncupnyc/" target="_blank"><img id='logo17' class='logoLogo' src='/assets/logos/CUP&CUP.png'></a><a href="http://www.jddagroup.com/" target="_blank"><img id='logo18' class='logoLogo' src='/assets/logos/JDDA.png'></a><a href="http://www.kakabokahair.com/" target="_blank"><img id='logo19' class='logoLogo' src='/assets/logos/KAKABOKA.png'></a></div>

<div id='sponsorRow7'><a href="http://mewnyc.com/" target="_blank"><img id='logo20' class='logoLogo' src='/assets/logos/mew.png'></a><a href="http://sylvandental.com/" target="_blank"><img id='logo21' class='logoLogo' src='/assets/logos/SylvanDental.png'></a><a href="http://www.yesstyle.com/" target="_blank"><img id='logo22' class='logoLogo' src='/assets/logos/YESSTYLE.COM.png'></a><a href="http://www.blissacuclinic.com/" target="_blank"><img id='logo23' class='logoLogo' src='/assets/logos/Bliss.png'></a></div>

<div id='sponsorRow8'><a href="http://gaonnurinyc.com/" target="_blank"><img id='logo24' class='logoLogo' src='/assets/logos/GAONNURI.png'></a><a href="http://www.incoco.com/" target="_blank"><img id='logo25'  class='logoLogo' src='/assets/logos/INCOCO.png'></a><a href="http://kristalbelli.com/" target="_blank"><img id='logo26' class='logoLogo' src='/assets/logos/KRISTALBELLI.png'></a><a href="http://www.olympiatourusa.com/" target="_blank"><img id='logo27' class='logoLogo' src='/assets/logos/Olympia.png'></a></div>

<div id='sponsorRow9'><a href="http://www.lockstockandbarrelspirits.com/" target="_blank"><img id='logo28' class='logoLogo' src='/assets/logos/LOCK-STOCK-BARREL.png'></a><a href="http://www.sojuhaus.com/" target="_blank"><img id='logo29' class='logoLogo' src='/assets/logos/SOJU-HAUS.png'></a><img id='logo30' class='logoLogo' src='/assets/logos/INCOCO.png'></div>

<div id='sponsorRow10'><img id='logo24' class='logoLogo' src='/assets/logos/GAONNURI.png'><img id='logo25' class='logoLogo' src='/assets/logos/INCOCO.png'><img id='logo26' class='logoLogo' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' class='logoLogo' src='/assets/logos/Olympia.png'></div>

<div id='sponsorRow11'><img id='logo24' class='logoLogo' src='/assets/logos/GAONNURI.png'><img id='logo25' class='logoLogo' src='/assets/logos/INCOCO.png'><img id='logo26' class='logoLogo' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' class='logoLogo' src='/assets/logos/Olympia.png'></div>

<div id='sponsorRow12'><img id='logo24' class='logoLogo' src='/assets/logos/GAONNURI.png'><img id='logo25' class='logoLogo' src='/assets/logos/INCOCO.png'><img id='logo26' class='logoLogo' src='/assets/logos/KRISTALBELLI.png'><img id='logo27' class='logoLogo' src='/assets/logos/Olympia.png'></div>

<div id='sponsorRow13'>
<a href="http://www.columbiakgsa.com/" target="_blank"><img id='logo31' class='logoLogo' src='/assets/logos/PO/Columbia KGSA.png'></a>
<a href="http://www.cukisac.com/" target="_blank"><img id='logo32' class='logoLogo' src='/assets/logos/PO/Columbia KISAC.png'></a>
<a href="https://www.facebook.com/groups/columbiakoreanalumni/" target="_blank"><img id='logo33' class='logoLogo' src='/assets/logos/PO/Columbia CKA.png'></a>
<a href="https://www.facebook.com/KSOF-Korean-Student-Organization-of-FIT-156589561104386/" target="_blank"><img id='logo34' class='logoLogo' src='/assets/logos/PO/KSOF.png'></a>
<a href="http://www.berkeleykorean.com/xe/" target="_blank"><img id='logo34a' class='logoLogo' src='/assets/logos/PO/Berkeley KUNA.png'></a>
</div>
<div id='sponsorRow14'>
<a href="http://www.nyukgsa.com/" target="_blank"><img id='logo35' class='logoLogo' src='/assets/logos/PO/NYU KGSA.png'></a>
<a href="https://www.facebook.com/nyuksa/" target="_blank"><img id='logo36' class='logoLogo' src='/assets/logos/PO/NYU KSA.png'></a>
<a href="http://www.nyukiso.com/" target="_blank"><img id='logo37' class='logoLogo' src='/assets/logos/PO/NYU KISO.png'></a>
<a href="https://www.facebook.com/SvaKisa-1543266182631771/" target="_blank"><img id='logo38' class='logoLogo' src='/assets/logos/PO/SVA KISA.png'></a>
<a href="https://www.facebook.com/byuksa/" target="_blank"><img id='logo38a' class='logoLogo' src='/assets/logos/PO/BYU KSA.png'></a>
</div>

<div id='sponsorRow15'>
  <a href="https://www.facebook.com/koreaparsons/" target="_blank"><img id='logo39' class='logoLogo' src='/assets/logos/PO/Parsons KAP.png'></a>
  <a href="http://www.prattkorea.com/" target="_blank"><img id='logo40' class='logoLogo' src='/assets/logos/PO/Pratt KSA.png'></a>
  <a href="https://www.facebook.com/kolakoreanlife.stonybrook" target="_blank"><img class='logoLogo' id='logo41' src='/assets/logos/PO/Stonybrook KOLA.png'></a>
  <a href="http://hanppuri.sites.yale.edu/" target="_blank"><img class='logoLogo' id='logo42' src='/assets/logos/PO/Yale Hanppuri.png'></a>
  <a href="http://kgsa.sites.yale.edu/" target="_blank"><img class='logoLogo' id='logo43' src='/assets/logos/PO/Yale YKGA.png'></a>
</div>

<div id='sponsorRow16'>
  <a href="https://www.facebook.com/CMUKSA/" target="_blank"><img id='logo44' class='logoLogo' src='/assets/logos/PO/Carnegie Mellon KSA.png'></a>
  <a href="http://cornellkorea.com/" target="_blank"><img id='logo45' class='logoLogo' src='/assets/logos/PO/Cornell KGSAC.png'></a>
  <a href="https://www.facebook.com/groups/skoh2/" target="_blank"><img class='logoLogo' id='logo46' src='/assets/logos/PO/Emory KISEM.png'></a>
  <a href="https://www.facebook.com/georgetownksa/" target="_blank"><img class='logoLogo' id='logo47' src='/assets/logos/PO/Georgetown KSA.png'></a>
  <a href="http://www.gtksa.org/" target="_blank"><img class='logoLogo' id='logo48' src='/assets/logos/PO/GeorgiaTech KSA.png'></a>
</div>
<div id='sponsorRow17'>
  <a href="https://www.facebook.com/gloeducator/" target="_blank"><img id='logo49' class='logoLogo' src='/assets/logos/PO/GloEd.png'></a>
  <a href="http://harvardkorea.org/" target="_blank"><img id='logo50' class='logoLogo' src='/assets/logos/PO/Harvard Korea Society.png'></a>
  <a href="http://www.jhukgsa.org/" target="_blank"><img class='logoLogo' id='logo51' src='/assets/logos/PO/Johns Hopkins KGSA.png'></a>
  <a href="https://www.facebook.com/IKACIA/" target="_blank"><img class='logoLogo' id='logo52' src='/assets/logos/PO/KACIA.png'></a>
  <a href="https://www.facebook.com/kolakoreanlife.stonybrook" target="_blank"><img class='logoLogo' id='logo53' src='/assets/logos/PO/KAFA.png'></a>
</div>
<div id='sponsorRow18'>
  <a href="http://www.nykana.org/" target="_blank"><img id='logo54' class='logoLogo' src='/assets/logos/PO/KANA.png'></a>
  <a href="https://peppksa.wordpress.com/" target="_blank"><img id='logo55' class='logoLogo' src='/assets/logos/PO/Pepperdine KISA.png'></a>
  <a href="https://ruksa.wordpress.com/" target="_blank"><img class='logoLogo' id='logo56' src='/assets/logos/PO/Rutgers KSA.png'></a>
  <a href="https://www.facebook.com/UW.KSU/" target="_blank"><img class='logoLogo' id='logo57' src='/assets/logos/PO/UofWashington KSU.png'></a>
  <a href="https://www.facebook.com/Baruch-KSA-541063416043412/" target="_blank"><img class='logoLogo' id='logo58' src='/assets/logos/PO/Baruch KSA.png'></a>
</div>

<script>
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored1');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored2');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored3');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColoreda');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored4');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});





$(document).ready(function () {
    var $horizontal = $('#logoMoimColored5');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});


$(document).ready(function () {
    var $horizontal = $('#logoMoimColored5a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
// var scrollBottom = $(window).scrollTop() + $(window).height();

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored6');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored7');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored8');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored9');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});


$(document).ready(function () {
    var $horizontal = $('#logoMoimColored10');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored11');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored12');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored13');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored14');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored15');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});

// ****

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored16');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored17');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored18');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored19');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored20');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored21');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored22');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored23');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored24');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored25');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored26');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored27');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored28');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored29');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored30');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored31');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored32');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored33');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored34');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored35');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored36');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored37');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored38');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored39');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored39a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored40');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored41');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored42');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored43');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored43a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored44');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored45');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored46');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored47');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored47a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored48');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored49');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored50');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored51');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored51a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored52');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored53');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored54');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored55');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored55a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored55b');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored56');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored57');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});

$(document).ready(function () {
    var $horizontal = $('#logoMoimColored58');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored59');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored59a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored59b');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'left': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored60');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored61');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored62');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored63');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored63a');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
$(document).ready(function () {
    var $horizontal = $('#logoMoimColored63b');

    $(window).scroll(function () {
        var s = $(this).scrollTop(),
            d = $(document).height(),
            c = $(this).height();

        scrollPercent = (s / (d - c));

        var position = (scrollPercent * ($(document).width() - $horizontal.width()));
        
        $horizontal.css({
            'right': position
        });
    });
});
</script>
<!--  -->
<!-- <img id='logoMoimColored' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored1' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored2' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored3' src='/assets/moimLogoColored.png'>

<img id='logoMoimColored4' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored5' src='/assets/moimLogoColored.png'>

<img id='logoMoimColored6' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored7' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored8' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored9' src='/assets/moimLogoColored.png'>

<img id='logoMoimColored10' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored11' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored12' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored13' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored14' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored15' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored16' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored17' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored18' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored19' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored20' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored21' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored22' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored23' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored24' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored25' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored26' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored27' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored28' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored29' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored30' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored31' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored32' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored33' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored34' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored35' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored36' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored37' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored38' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored39' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored39a' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored40' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored41' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored42' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored43' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored43a' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored44' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored45' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored46' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored47' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored47a' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored48' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored49' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored50' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored51' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored51a' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored52' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored53' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored54' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored55' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored55a' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored55b' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored56' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored57' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored58' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored59' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored59a' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored59b' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored60' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored61' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored62' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored63' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored63a' src='/assets/moimLogoColored.png'> -->
<!-- <img id='logoMoimColored63b' src='/assets/moimLogoColored.png'> -->
<!-- 
<img id='logoMoimColored64' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored65' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored66' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored67' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored68' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored69' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored70' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored71' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored72' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored73' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored74' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored75' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored76' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored77' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored78' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored79' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored80' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored81' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored82' src='/assets/moimLogoColored.png'>
<img id='logoMoimColored83' src='/assets/moimLogoColored.png'> -->
<div id='bottom' class='involvedBottom'></div>
<div id='contactUsInvolved' onclick='closeLogin();'>

<div id='contactContent'>

<h3 id='contactHeading'>CONTACT US</h3>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>
  <p id='contactLines4'> 
  For social outreach opportunities, email us at <a href="mailto:soar@moimnewyork.com" id='emailLink'>soar@moimnewyork.com</a>.
  </p>
 
  <img id='logoMoimBottom' src='/assets/moimLogo.png'>
  <h3 id='moimHead'>MOI'M NYC<h3>
  <p id='tax'>a 501(c)3 organization<br>All contributions will be tax-deductible<br>to the extent allowed by law.</p>

</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();'>Privacy Policy</a>


  <div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/faceBook.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youTube.png' class='img-zoom' id='youtube_small'></a>
</div>

</p>
</div>
</div>
</div>
<!-- <div id='welcomeBottom1' onclick='closeLogin();'>

<p id='bottomContentWelcome'>
Copyright 
<script>
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 
MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();'>Privacy Policy</a>
<div id='firstQuote'><p id='firstQuoteContent'>
“Networking Through Entertainment, Inspiration Through Networking”
</div>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/faceBook.png' class='img-zoom' id='fb_smallWelcome'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram.png' class='img-zoom' id='insta_smallWelcome'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youTube.png' class='img-zoom' id='youtube_smallWelcome'></a>
</div>
</p>

</div> -->



</div>

</body>
</html>