<html>
<head>
	<title></title>
</head>
<body id='welcomeBody'>


   
<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 

<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2">
<!-- <h1>trigger</h1> -->
</div>

<div id='top_banner' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>


<div id='container' onclick='closeLogin();return false;'>	

<!-- <div id='backdrop' class='animated fadeIn'></div>
<div id='eventsSlideShow'>
	<div id='crossfade2'>
 	 <img class = "cone" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/grey-movie-poster_zpsuopukpio.jpg">
     <img class = "ctwo" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/reel%20steel_zpsvm0rnv2f.jpg">
     <img class = "cthree" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/postersilence_zpsgse1tzl1.jpg">
     <img class = "cfour" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/ferris_zpszna9osgz.jpg">
	</div>
</div> -->


<img id='frontPic' class='animated zoomIn' src = "/assets/nyc.gif">
         

</div>

<a id='topPage'></a>


<a href="#topPage" class="back-to-top">Back to Top</a>

<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>


<script>
$(document).ready(function() {
$('#header1').waypoint(function() {
   $('#welcomeBottom1').fadeOut();
});
});

$(document).ready(function() {
$('#header').waypoint(function() {
   $('#welcomeBottom1').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#header2').waypoint(function() {
        // $('#top_banner').hide();
        $( "#top_banner" ).animate({
    // width: "70%",
    backgroundColor: "#161616"
    // marginLeft: "0.6in",
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});

$(document).ready(function() {
$('#header1').waypoint(function() {
        // $('#top_banner').hide();
        $( "#top_banner" ).animate({
    // width: "70%",
    backgroundColor: "rgba(0,0,0,0.1)"
    // marginLeft: "0.6in",
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});

$(document).ready(function() {
$('#header1').waypoint(function() {
$('#posterContainer').hide( "slide", { direction: "left" }, 500 );
});
});

$(document).ready(function() {
$('#header').waypoint(function() {
$('#posterContainer').show( "slide", { direction: "left" }, 500 );
});
});
    // $(this).fadeOut(1000, function() {
    //     $(this).css("background-color", "#FF0000").fadeIn(1000);

</script>

<!-- alert($("div").scrollTop()); -->
<div id='welcomeContent' class='animated slideInUp' onclick='closeLogin();return false;'>
</div>
<div id='welcomeBottom1' onclick='closeLogin();return false;'>

<p id='bottomContentWelcome'>Copyright 
<script>
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 
MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>
<div id='firstQuote'><p id='firstQuoteContent'>
“Networking Through Entertainment, Inspiration Through Networking”
</div>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_smallWelcome'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_smallWelcome'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_smallWelcome'></a>
</div>
</p>

</div>

<script>
$(window).load(function() {
    $('#welcomeBottom1').hide();
    $('#welcomeBottom1').show( "slide", { direction: "left" }, 500 );
});
</script>

</div>

</body>
</html>