<html>
<head>
	<title></title>
</head>
<body>

<div id='container'>	

<!-- <div id='mainLogo' class='animated slideInLeft'>
<img id='logo' src='/assets/moimLogo.png' id='logo_back'>
</div> -->
<div id='backdrop' class='animated slideInLeft'></div>
<div id='eventsSlideShow'>
	<div id='crossfade2'>
 	 <img class = "cone" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/grey-movie-poster_zpsuopukpio.jpg">
     <img class = "ctwo" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/reel%20steel_zpsvm0rnv2f.jpg">
     <img class = "cthree" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/postersilence_zpsgse1tzl1.jpg">
     <img class = "cfour" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/ferris_zpszna9osgz.jpg">
	</div>
</div>

	<!-- <div id="welcomepage-background-image" class="background background-image" dataimgwidth="1800"></div>
	<div id="welcomepage-whoweare-summary">
		<h3>Who We Are</h3>
		<p>MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.</p>
		<p>Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.</p>
		<br><br>
	</div>
	<div id="welcomepage-featuredblogs-summary">
		<h3>Featured Blogs</h3>
		<p>Something from blog page</p>
		<br><br>
	</div>
	<div id="welcomepage-sponsors-summary">
		<h3>Sponsors</h3>
		<p>As distinguished collaborating entities that help our signature projects 	thrive, MOI’M Partners and Sponsors are well-represented
		across the financial, media, and product sectors.</p>
		<p> They are our supporters, assisting us to reach our fullest potential. Both Partners and Sponsors share our mission, objectives, and ultimate vision — without them, we could not have made it this far.
		</p>
		<br><br>
	</div>
	<footer class="footer">
		<h3>Contact Us</h3>
		<div class="footer-questions-email">
			<span>For questions or concerns, email us at&nbsp;</span>
			<a href="mailto:help@moimnewyork.com">info@moimnewyork.com</a>
		</div>
		<div class="footer-questions-email">
			<span>For sponsorship opportunities, email us at&nbsp;</span>
				<a href="mailto:sponsorship@moimnewyork.com">sponsorship@moimnewyork.com</a>
		</div>
		<div class="footer-questions-email">
			<span>For event ideas, email us at&nbsp;</span>
			<a href="mailto:event@moimnewyork.com">event@moimnewyork.com</a>
		</div>
		<div class="footer-copyright">
			<span>Copyright 2015 MOI'M | All Rights Reserved |</span> 
			<span>Terms of Use</span><span>|</span>
			<span>Privacy Policy</span>	
			<span class="footer-logopage">
				<a href="http://www.facebook.com/moimnewyork"><%= image_tag 'facebook-logo-white.png', class: "welcomepage-logo" %></a>
				<a href="http://www.instagram.com/moimnewyork"><%= image_tag 'instagram-logo-white.png', class: "welcomepage-logo" %></a>
				<a href="http://www.youtube.com/moimmedia"><%= image_tag 'youtube-logo-white.png', class: "welcomepage-logo" %></a>
			</span>	
		</div>
	</footer> -->


<img id='frontPic' class='animated zoomIn' src = "/assets/newyork.jpg">
         

</div>

<a id='top'></a>

<div id='firstQuote' class='animated slideInUp'><p>"Networking is not about just connecting people.<br>
It's about connecting people with people, people with ideas, and people with opportunities."<br><br>
Michele Jennae</p>
</div>

<a id='theMission'></a>
<div id='missionContent' class='animated slideInUp'>The Mission</div>

<a id='theChronicle'></a>
<!-- <div id='chronicleLogo' class='animated slideInLeft'><img id='logoSlide' src='/assets/moimLogo.png' id='logo_back'></div> -->
<div id='chronicleContent' class='animated slideInUp'>The Chronicle</div>

<a id='theTeam'></a>
<!-- <div id='teamLogo' class='animated slideInLeft'><img id='logoSlide' src='/assets/moimLogo.png' id='logo_back'></div> -->
<div id='teamContent' class='animated slideInUp'>The Team</div>

<a id='getInvolved'></a>
<!-- <div id='getInvolvedLogo' class='animated slideInLeft'><img id='logoSlide' src='/assets/moimLogo.png' id='logo_back'></div> -->
<div id='getInvolvedContent' class='animated slideInUp'>Get Involved</div>

<a href="#top" class="back-to-top">Back to Top</a>

<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>
</body>
</html>