<html>
<head>
	<title></title>
</head>
<body id='usersPage'>

<script type="text/javascript">

$(document).ready(function() {
$('#emailButton').click(function() {
  localStorage.clear();
  localStorage.setItem('email',$('#emailSignup').val());
});
});

$(document).ready(function() {
$('#usernameButton').click(function() {
  localStorage.clear();
  localStorage.setItem('username',$('#usernameSignup').val());
});
});

$(document).ready(function() {

$(':checkbox').change(function(){
    if (this.checked) {
    $(this).siblings(':checkbox').attr('checked',false);
   }

});
});

$(document).ready(function() {

$("#female").click(function (evt) { 
if($('#female').prop('checked') == true){
	$('#femaleCheck').removeClass('signupOption').addClass('highlight');
	$('#male').attr('checked', false);
	$('#maleCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
else{
	$('#femaleCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
});
});

$(document).ready(function() {

$("#male").click(function (evt) { 
if($('#male').prop('checked') == true){
	$('#maleCheck').removeClass('signupOption').addClass('highlight');
	$('#female').attr('checked', false);
	$('#femaleCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
else{
	$('#maleCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
});
});

$(document).ready(function() {

$("#ny").click(function (evt) { 
if($('#ny').prop('checked') == true){
	$('#nyCheck').removeClass('signupOption').addClass('highlight');
	$('#eastCoast').attr('checked', false);
	$('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
	$('#usa').attr('checked', false);
	$('#usaCheck').removeClass('highlight').addClass('signupOption');
	$('#international').attr('checked', false);
	$('#internationalCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
else{
	$('#nyCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
});
});

$(document).ready(function() {

$("#eastCoast").click(function (evt) { 
if($('#eastCoast').prop('checked') == true){
	$('#eastCoastCheck').removeClass('signupOption').addClass('highlight');
	$('#ny').attr('checked', false);
	$('#nyCheck').removeClass('highlight').addClass('signupOption');
	$('#usa').attr('checked', false);
	$('#usaCheck').removeClass('highlight').addClass('signupOption');
	$('#international').attr('checked', false);
	$('#internationalCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
else{
	$('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
});
});

$(document).ready(function() {
	
$("#usa").click(function (evt) { 
if($('#usa').prop('checked') == true){
	$('#usaCheck').removeClass('signupOption').addClass('highlight');
	$('#ny').attr('checked', false);
	$('#nyCheck').removeClass('highlight').addClass('signupOption');
	$('#eastCoast').attr('checked', false);
	$('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
	$('#international').attr('checked', false);
	$('#internationalCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
else{
	$('#usaCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
});
});

$(document).ready(function() {
	
$("#international").click(function (evt) { 
if($('#international').prop('checked') == true){
	$('#internationalCheck').removeClass('signupOption').addClass('highlight');
	$('#ny').attr('checked', false);
	$('#nyCheck').removeClass('highlight').addClass('signupOption');
	$('#usa').attr('checked', false);
	$('#usaCheck').removeClass('highlight').addClass('signupOption');
	$('#eastCoast').attr('checked', false);
	$('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
else{
	$('#internationalCheck').removeClass('highlight').addClass('signupOption');
	evt.stopPropagation();
}
});
});

$(document).ready(function() {

$('#emailSignup').change(function() {
    $('#emailCheck').val($(this).val());
});

});

$(document).ready(function() {

$('#usernameSignup').change(function() {
    $('#usernameCheck').val($(this).val());
});

});

$(document).ready(function() {
$("#userCreation")[0].reset();
});
</script> 


<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})



</script> 


<div id='top_bannerUsers' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon' href='/users'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDropUsers'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDropUsers'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>


<a href="#top" class="back-to-top">Back to Top</a>
<!-- <p id='usersContent' class='animated slideInUp' onclick='closeLogin();return false;'> -->
<div id='signUp'>
<p id='emailSay'>Verification email will be sent to this address.</p>
<!-- <p id='emailSay1'>This email is available.<br>OR This email is already registered.</p> -->
<form method="POST" action="/alerta">
<input type='hidden' name='email' id='emailCheck' required>
<button id='emailButton' type='submit'>Check</button>
</form>
<p id='username1'><span id='noUser'>This username is already taken.</span></p>
<form method="POST" action="/alertb">
<input type='hidden' name='username' id='usernameCheck' required>
<button id='usernameButton' type='submit'>Check</button>
</form>
<p id='passwordSay'>At least 8 characters.</p>
<p id='monthSay'>MONTH</p>
<p id='daySay'>DAY</p>
<p id='yearSay'>YEAR</p>
<p id='birthdaySay'>example: 06-23-1991</p>

<form id='userCreation' method="POST" action="/users">
	<label id='emailSignUpText'><span id='required'>*&nbsp;</span>Email</label>
	<input type='text' name='email' id='emailSignup' autocomplete='off' required><br><br>
	<label id='usernameSignUpText'><span id='required'>*&nbsp;</span>Username</label>
	<input type='text' name='username' value='<%= @user[0].username %>' id='usernameSignup' autocomplete='off' required><br><br>
	<label id='passwordSignUpText'><span id='required'>*&nbsp;</span>Password</label>
	<input type='password' name='password' id='passwordSignup' minlength='8' autocomplete='off' required><br><br>
	<label id='firstnameSignUpText'><span id='required'>*&nbsp;</span>First Name</label>
	<input type='text' name='first_name' id='firstnameSignup' autocomplete='off' required><br><br>
	<label id='lastnameSignUpText'><span id='required'>*&nbsp;</span>Last Name</label>
	<input type='text' name='last_name' id='lastnameSignup' autocomplete='off' required><br><br>
	<label id='birthdaySignUpText'><span id='required'>*&nbsp;</span>Birthday</label>
	<input type='text' name='month' id='monthSignup' minlength='2' maxlength='2' onkeypress='return isNumberKey(event)' autocomplete='off' required>&nbsp;&nbsp;&nbsp;<input type='text' name='day' id='daySignup' minlength='2' maxlength='2' onkeypress='return isNumberKey(event)' autocomplete='off' required>&nbsp;&nbsp;&nbsp;<input type='text' name='year' id='yearSignup' minlength='4' maxlength='4' onkeypress='return isNumberKey(event)' autocomplete='off' required><br><br>
	<label id='genderSignUpText'><span id='required'>*&nbsp;</span>Gender</label>
	
  	<label id='femaleCheck' class='signupOption'><input id='female' name='sex' class='signupCheckBox' type='checkbox' value='female' style='opacity:0;'><span id=
  		'checkboxText'>FEMALE</span></label>
  	<label id='maleCheck' class='signupOption'><input id='male' name='sex' class='signupCheckBox' type='checkbox' value='male' style='opacity:0;'><span id=
  		'checkboxText'>MALE</span></label>
	<br><br>
	<label id='affiliationSignUpText'>Affiliation</label><br>
	<label id='collegeSignUpText'>College/Graduated</label>	
	<input type='text' id='collegeSignup' name='school' autocomplete='off'><br>
	<label id='professionalSignUpText'>Professional</label>
	<input type='text' id='professionalSignup' name='company' autocomplete='off'><br>

	<label id='locationSignUpText'>Location</label>
	<label id='nyCheck' class='signupOption'><input id='ny' name='location' class='signupCheckBox' type='checkbox' value="NYC/NJ" style='opacity:0;'><span id='checkboxText'>NYC/NJ</span></label><br>
  	<label id='eastCoastCheck' class='signupOption'><input id='eastCoast' name='location' class='signupCheckBox' type='checkbox' value="East Coast" style='opacity:0;'><span id='checkboxText'>Other (East Coast)</span></label><br>
  	<label id='usaCheck' class='signupOption'><input id='usa' name='location' class='signupCheckBox' type='checkbox' value="USA" style='opacity:0;'><span id='checkboxText'>Other (USA)</span></label><br>
  	<label id='internationalCheck' class='signupOption'><input id='international' name='location' class='signupCheckBox' type='checkbox' value="International"style='opacity:0;'><span id='checkboxText'>Other (International)</span></label>
	<br><br>			
	

<button id='signupButton' type='submit'>Sign Me Up!</button>

</form>

</div> 

<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='usersBottom'></div>
<div id='contactUsUsers' class='animated slideInLeft' onclick='closeLogin();return false;'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>


</div>



<div id='contactBottomUsers'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>
</div>





<!-- </p> -->
</body>
</html>