<!-- 
<div id="aboutpage-container">
<h3>MOI'M CHRONICLE</h3>
</div>
 -->

<html>
<head>
	<title></title>
</head>
<body id="chroniclePage">

<script>


// $(window).load(function() {
//   $('body').append( head );
//   $('body').append( missionLine );
//   $('#chronicleBlend').hide();
//   $('#missionLine').hide();
//   setTimeout(function() {
//   $('#chronicleBlend').fadeIn( "slow" );
//   $('#missionLine').fadeIn( "slow" );
// }, 300);
// });

$(document).ready(function() {
$('#header1').waypoint(function() {
   $('#welcomeBottom1').fadeOut();
   $("#chronicleBlend").fadeOut();
     $( "#chronicleContent" ).animate({
    backgroundColor: "white"
    // height:"15px"
  }, 500 );

});
});

$(document).ready(function() {
$('#header').waypoint(function() {
   $('#welcomeBottom1').fadeIn( "slow" );
   $("#chronicleBlend").fadeIn( "slow" );
        $( "#chronicleContent" ).animate({
    backgroundColor: "#161616",
    // height:"15px"
  }, 200 );

});
});

$(document).ready(function() {
$('#header2').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "#161616",
    height:"0px"
  }, 200 );

  $( "#top_banner" ).animate({
    // width: "70%",
    backgroundColor: "#161616",
    marginTop: "0px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});

$(document).ready(function() {
$('#header1').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "rgba(0,0,0,0.1)",
    height:"15px"
  }, 200 );
  $( "#top_banner" ).animate({
    // width: "70%",
    backgroundColor: "rgba(0,0,0,0.1)",
    marginTop: "15px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});
</script>

<script type="text/javascript">


function startChronicle(){
	console.log('chronic');
	$('#chronicleContainer').animate({maxHeight:"3150px"}, 15000);
}

</script>

<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 


<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2">
<!-- <h1>trigger</h1> -->
</div>

<div id="headerChronicle1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle2">
<!-- <h1>trigger</h1> -->
</div>
<div id="header3Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle3">
<!-- <h1>trigger</h1> -->
</div>
<div id="header4Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle4">
<!-- <h1>trigger</h1> -->
</div>
<div id="header5Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle5">
<!-- <h1>trigger</h1> -->
</div>
<div id="header6Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle6">
<!-- <h1>trigger</h1> -->
</div>
<div id="header7Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle7">
<!-- <h1>trigger</h1> -->
</div>
<div id="header8Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle8">
<!-- <h1>trigger</h1> -->
</div>
<div id="header9Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle9">
<!-- <h1>trigger</h1> -->
</div>
<div id="header10Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle10">
<!-- <h1>trigger</h1> -->
</div>
<div id="header11Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle11">
<!-- <h1>trigger</h1> -->
</div>
<div id="header12Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle12">
<!-- <h1>trigger</h1> -->
</div>
<div id="header13Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle13">
<!-- <h1>trigger</h1> -->
</div>
<div id="header14Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle14">
<!-- <h1>trigger</h1> -->
</div>
<div id="header15Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle15">
<!-- <h1>trigger</h1> -->
</div>
<div id="header16Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle16">
<!-- <h1>trigger</h1> -->
</div>
<div id="header17Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle17">
<!-- <h1>trigger</h1> -->
</div>
<div id="header18Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle18">
<!-- <h1>trigger</h1> -->
</div>
<div id="header19Chro">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerChronicle19">
<!-- <h1>trigger</h1> -->
</div>
<div id="header20Chro">
<!-- <h1>trigger</h1> -->
</div>

<div id='top_helper'></div>
<div id='top_banner' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>


<img id='whiteGuyPic'  class='animated zoomIn' src='/assets/city1.jpg' onclick='closeLogin();return false;'>

<!-- <img id='chronicleLine'  class='animated slideInLeft' src = "/assets/line.png"> -->

<a href="#top" class="back-to-top">Back to Top</a>
<div id='chronicleContent' class='animated slideInUp' onclick='closeLogin();return false;'>

<h2 id='chronicleBlend'>THE CHRONICLE</h2>"
<!-- <img id='missionLine1' src = '/assets/line.png'>" -->

<script>
var chronicle ="<div id='chronicleContent1'></div>"
var chronicleTop ="<img id='chronicleTop1' src='/assets/chronicle/chronicleTop.png'>"
var chronicle1Date ="<img id='chronicle1Date' src='/assets/chronicle/chronicleDate.png'>"
var chronicle1Circle ="<div id=circleContainer1><img id='chronicle1Circle' src='/assets/chronicle/chronicleCircle.png'></div>"
var chronicle1Words = "<div id=wordsContainer1><img id='chronicle1Words' src='/assets/chronicle/chronicleWords.png'></div>"

var chronicleTop2 ="<img id='chronicleTop2' src='/assets/chronicle/chronicleTop2.png'>"
var chronicle2Date ="<img id='chronicle2Date' src='/assets/chronicle/chronicleDate2.png'>"
var chronicle2Circle ="<div id=circleContainer2><img id='chronicle2Circle' src='/assets/chronicle/chronicleCircle2.png'></div>"
var chronicle2Words = "<div id=wordsContainer2><img id='chronicle2Words' src='/assets/chronicle/chronicleWords2.png'></div>"

var chronicleTop3 ="<img id='chronicleTop3' src='/assets/chronicle/chronicleTop3.png'>"
var chronicle3Date ="<img id='chronicle3Date' src='/assets/chronicle/chronicleDate3.png'>"
var chronicle3Circle ="<div id=circleContainer3><img id='chronicle3Circle' src='/assets/chronicle/chronicleCircle3.png'></div>"
var chronicle3Words = "<div id=wordsContainer3><img id='chronicle3Words' src='/assets/chronicle/chronicleWords3.png'></div>"

var chronicleTop4 ="<img id='chronicleTop4' src='/assets/chronicle/chronicleTop4.png'>"
var chronicle4Date ="<img id='chronicle4Date' src='/assets/chronicle/chronicleDate4.png'>"
var chronicle4Circle ="<div id=circleContainer4><img id='chronicle4Circle' src='/assets/chronicle/chronicleCircle4.png'></div>"
var chronicle4Words = "<div id=wordsContainer4><img id='chronicle4Words' src='/assets/chronicle/chronicleWords4.png'></div>"

var chronicleTop5 ="<img id='chronicleTop5' src='/assets/chronicle/chronicleTop5.png'>"
var chronicle5Date ="<img id='chronicle5Date' src='/assets/chronicle/chronicleDate5.png'>"
var chronicle5Circle ="<div id=circleContainer5><img id='chronicle5Circle' src='/assets/chronicle/chronicleCircle5.png'></div>"
var chronicle5Words = "<div id=wordsContainer5><img id='chronicle5Words' src='/assets/chronicle/chronicleWords5.png'></div>"

var chronicleTop6 ="<img id='chronicleTop6' src='/assets/chronicle/chronicleTop6.png'>"
var chronicle6Date ="<img id='chronicle6Date' src='/assets/chronicle/chronicleDate6.png'>"
var chronicle6Circle ="<div id=circleContainer6><img id='chronicle6Circle' src='/assets/chronicle/chronicleCircle6.png'></div>"
var chronicle6Words = "<div id=wordsContainer6><img id='chronicle6Words' src='/assets/chronicle/chronicleWords6.png'></div>"

var chronicleTop7 ="<img id='chronicleTop7' src='/assets/chronicle/chronicleTop7.png'>"
var chronicle7Date ="<img id='chronicle7Date' src='/assets/chronicle/chronicleDate7.png'>"
var chronicle7Circle ="<div id=circleContainer7><img id='chronicle7Circle' src='/assets/chronicle/chronicleCircle7.png'></div>"
var chronicle7Words = "<div id=wordsContainer7><img id='chronicle7Words' src='/assets/chronicle/chronicleWords7.png'></div>"

var chronicleTop8 ="<img id='chronicleTop8' src='/assets/chronicle/chronicleTop8.png'>"
var chronicle8Date ="<img id='chronicle8Date' src='/assets/chronicle/chronicleDate8.png'>"
var chronicle8Circle ="<div id=circleContainer8><img id='chronicle8Circle' src='/assets/chronicle/chronicleCircle8.png'></div>"
var chronicle8Words = "<div id=wordsContainer8><img id='chronicle8Words' src='/assets/chronicle/chronicleWords8.png'></div>"

var chronicleTop9 ="<img id='chronicleTop9' src='/assets/chronicle/chronicleTop9.png'>"
var chronicle9Date ="<img id='chronicle9Date' src='/assets/chronicle/chronicleDate9.png'>"
var chronicle9Circle ="<div id=circleContainer9><img id='chronicle9Circle' src='/assets/chronicle/chronicleCircle9.png'></div>"
var chronicle9Words = "<div id=wordsContainer9><img id='chronicle9Words' src='/assets/chronicle/chronicleWords9.png'></div>"

var chronicleTop10 ="<img id='chronicleTop10' src='/assets/chronicle/chronicleTop10.png'>"
var chronicle10Date ="<img id='chronicle10Date' src='/assets/chronicle/chronicleDate10.png'>"
var chronicle10Circle ="<div id=circleContainer10><img id='chronicle10Circle' src='/assets/chronicle/chronicleCircle10.png'></div>"
var chronicle10Words = "<div id=wordsContainer10><img id='chronicle10Words' src='/assets/chronicle/chronicleWords10.png'></div>"

var chronicleTop11 ="<img id='chronicleTop11' src='/assets/chronicle/chronicleTop11.png'>"
var chronicle11Date ="<img id='chronicle11Date' src='/assets/chronicle/chronicleDate11.png'>"
var chronicle11Circle ="<div id=circleContainer11><img id='chronicle11Circle' src='/assets/chronicle/chronicleCircle11.png'></div>"
var chronicle11Words = "<div id=wordsContainer11><img id='chronicle11Words' src='/assets/chronicle/chronicleWords11.png'></div>"

var chronicleTop12 ="<img id='chronicleTop12' src='/assets/chronicle/chronicleTop12.png'>"
var chronicle12Date ="<img id='chronicle12Date' src='/assets/chronicle/chronicleDate12.png'>"
var chronicle12Circle ="<div id=circleContainer12><img id='chronicle12Circle' src='/assets/chronicle/chronicleCircle12.png'></div>"
var chronicle12Words = "<div id=wordsContainer12><img id='chronicle12Words' src='/assets/chronicle/chronicleWords12.png'></div>"

var chronicleTop13 ="<img id='chronicleTop13' src='/assets/chronicle/chronicleTop13.png'>"
var chronicle13Date ="<img id='chronicle13Date' src='/assets/chronicle/chronicleDate13.png'>"
var chronicle13Circle ="<div id=circleContainer13><img id='chronicle13Circle' src='/assets/chronicle/chronicleCircle13.png'></div>"
var chronicle13Words = "<div id=wordsContainer13><img id='chronicle13Words' src='/assets/chronicle/chronicleWords13.png'></div>"

var chronicleTop14 ="<img id='chronicleTop14' src='/assets/chronicle/chronicleTop14.png'>"
var chronicle14Date ="<img id='chronicle14Date' src='/assets/chronicle/chronicleDate14.png'>"
var chronicle14Circle ="<div id=circleContainer14><img id='chronicle14Circle' src='/assets/chronicle/chronicleCircle14.png'></div>"
var chronicle14Words = "<div id=wordsContainer14><img id='chronicle14Words' src='/assets/chronicle/chronicleWords14.png'></div>"

var chronicleTop15 ="<img id='chronicleTop15' src='/assets/chronicle/chronicleTop15.png'>"
var chronicle15Date ="<img id='chronicle15Date' src='/assets/chronicle/chronicleDate15.png'>"
var chronicle15Circle ="<div id=circleContainer15><img id='chronicle15Circle' src='/assets/chronicle/chronicleCircle15.png'></div>"
var chronicle15Words = "<div id=wordsContainer15><img id='chronicle15Words' src='/assets/chronicle/chronicleWords15.png'></div>"

var chronicleTop16 ="<img id='chronicleTop16' src='/assets/chronicle/chronicleTop16.png'>"
var chronicle16Date ="<img id='chronicle16Date' src='/assets/chronicle/chronicleDate16.png'>"
var chronicle16Circle ="<div id=circleContainer16><img id='chronicle16Circle' src='/assets/chronicle/chronicleCircle16.png'></div>"
var chronicle16Words = "<div id=wordsContainer16><img id='chronicle16Words' src='/assets/chronicle/chronicleWords16.png'></div>"

var chronicleTop17 ="<img id='chronicleTop17' src='/assets/chronicle/chronicleTop17.png'>"
var chronicle17Date ="<img id='chronicle17Date' src='/assets/chronicle/chronicleDate17.png'>"
var chronicle17Circle ="<div id=circleContainer17><img id='chronicle17Circle' src='/assets/chronicle/chronicleCircle17.png'></div>"
var chronicle17Words = "<div id=wordsContainer17><img id='chronicle17Words' src='/assets/chronicle/chronicleWords17.png'></div>"

var chronicleTop18 ="<img id='chronicleTop18' src='/assets/chronicle/chronicleTop18.png'>"
var chronicle18Date ="<img id='chronicle18Date' src='/assets/chronicle/chronicleDate18.png'>"
var chronicle18Circle ="<div id=circleContainer18><img id='chronicle18Circle' src='/assets/chronicle/chronicleCircle18.png'></div>"
var chronicle18Words = "<div id=wordsContainer18><img id='chronicle18Words' src='/assets/chronicle/chronicleWords18.png'></div>"

var chronicleTop19 ="<img id='chronicleTop19' src='/assets/chronicle/chronicleTop19.png'>"
var chronicle19Date ="<img id='chronicle19Date' src='/assets/chronicle/chronicleDate19.png'>"
var chronicle19Circle ="<div id=circleContainer19><img id='chronicle19Circle' src='/assets/chronicle/chronicleCircle19.png'></div>"
var chronicle19Words = "<div id=wordsContainer19><img id='chronicle19Words' src='/assets/chronicle/chronicleWords19.png'></div>"

var chronicleTop20 ="<img id='chronicleTop20' src='/assets/chronicle/chronicleTop20.png'>"

$(document).ready(function() {
 $('#chronicleContent').append(chronicle); 
 $('#chronicleContent1').append(chronicleTop);
 $('#chronicleContent1').append(chronicle1Date);
 $('#chronicleContent1').append(chronicle1Circle);
 $('#chronicleContent1').append(chronicle1Words);

 $('#chronicleContent1').append(chronicleTop2);
 $('#chronicleContent1').append(chronicle2Date);
 $('#chronicleContent1').append(chronicle2Circle);
 $('#chronicleContent1').append(chronicle2Words);

  $('#chronicleContent1').append(chronicleTop3);
 $('#chronicleContent1').append(chronicle3Date);
 $('#chronicleContent1').append(chronicle3Circle);
 $('#chronicleContent1').append(chronicle3Words);

   $('#chronicleContent1').append(chronicleTop4);
 $('#chronicleContent1').append(chronicle4Date);
 $('#chronicleContent1').append(chronicle4Circle);
 $('#chronicleContent1').append(chronicle4Words);

    $('#chronicleContent1').append(chronicleTop5);
 $('#chronicleContent1').append(chronicle5Date);
 $('#chronicleContent1').append(chronicle5Circle);
 $('#chronicleContent1').append(chronicle5Words);

    $('#chronicleContent1').append(chronicleTop6);
 $('#chronicleContent1').append(chronicle6Date);
 $('#chronicleContent1').append(chronicle6Circle);
 $('#chronicleContent1').append(chronicle6Words);

     $('#chronicleContent1').append(chronicleTop7);
 $('#chronicleContent1').append(chronicle7Date);
 $('#chronicleContent1').append(chronicle7Circle);
 $('#chronicleContent1').append(chronicle7Words);

     $('#chronicleContent1').append(chronicleTop8);
 $('#chronicleContent1').append(chronicle8Date);
 $('#chronicleContent1').append(chronicle8Circle);
 $('#chronicleContent1').append(chronicle8Words);

     $('#chronicleContent1').append(chronicleTop9);
 $('#chronicleContent1').append(chronicle9Date);
 $('#chronicleContent1').append(chronicle9Circle);
 $('#chronicleContent1').append(chronicle9Words);


     $('#chronicleContent1').append(chronicleTop10);
 $('#chronicleContent1').append(chronicle10Date);
 $('#chronicleContent1').append(chronicle10Circle);
 $('#chronicleContent1').append(chronicle10Words);

      $('#chronicleContent1').append(chronicleTop11);
 $('#chronicleContent1').append(chronicle11Date);
 $('#chronicleContent1').append(chronicle11Circle);
 $('#chronicleContent1').append(chronicle11Words);

       $('#chronicleContent1').append(chronicleTop12);
 $('#chronicleContent1').append(chronicle12Date);
 $('#chronicleContent1').append(chronicle12Circle);
 $('#chronicleContent1').append(chronicle12Words);

        $('#chronicleContent1').append(chronicleTop13);
 $('#chronicleContent1').append(chronicle13Date);
 $('#chronicleContent1').append(chronicle13Circle);
 $('#chronicleContent1').append(chronicle13Words);

         $('#chronicleContent1').append(chronicleTop14);
 $('#chronicleContent1').append(chronicle14Date);
 $('#chronicleContent1').append(chronicle14Circle);
 $('#chronicleContent1').append(chronicle14Words);

          $('#chronicleContent1').append(chronicleTop15);
 $('#chronicleContent1').append(chronicle15Date);
 $('#chronicleContent1').append(chronicle15Circle);
 $('#chronicleContent1').append(chronicle15Words);

           $('#chronicleContent1').append(chronicleTop16);
 $('#chronicleContent1').append(chronicle16Date);
 $('#chronicleContent1').append(chronicle16Circle);
 $('#chronicleContent1').append(chronicle16Words);

            $('#chronicleContent1').append(chronicleTop17);
 $('#chronicleContent1').append(chronicle17Date);
 $('#chronicleContent1').append(chronicle17Circle);
 $('#chronicleContent1').append(chronicle17Words);

             $('#chronicleContent1').append(chronicleTop18);
 $('#chronicleContent1').append(chronicle18Date);
 $('#chronicleContent1').append(chronicle18Circle);
 $('#chronicleContent1').append(chronicle18Words);

              $('#chronicleContent1').append(chronicleTop19);
 $('#chronicleContent1').append(chronicle19Date);
 $('#chronicleContent1').append(chronicle19Circle);
 $('#chronicleContent1').append(chronicle19Words);
               $('#chronicleContent1').append(chronicleTop20);
});

$(document).ready(function() {
 $('#chronicle').hide();
 $('#chronicle1Date').hide();
 $('#circleContainer1').hide();
 $('#chronicle1Words').hide();
  $('#chronicleTop2').hide();
  $('#chronicle2Date').hide();
 $('#chronicle2Circle').hide();
 $('#chronicle2Words').hide();
   $('#chronicleTop3').hide();
  $('#chronicle3Date').hide();
 $('#circleContainer3').hide();
 $('#chronicle3Words').hide();
    $('#chronicleTop4').hide();
  $('#chronicle4Date').hide();
 $('#circleContainer4').hide();
 $('#chronicle4Words').hide();
     $('#chronicleTop5').hide();
  $('#chronicle5Date').hide();
 $('#circleContainer5').hide();
 $('#chronicle5Words').hide();
      $('#chronicleTop6').hide();
  $('#chronicle6Date').hide();
 $('#circleContainer6').hide();
 $('#chronicle6Words').hide();
       $('#chronicleTop7').hide();
  $('#chronicle7Date').hide();
 $('#circleContainer7').hide();
 $('#chronicle7Words').hide();
        $('#chronicleTop8').hide();
  $('#chronicle8Date').hide();
 $('#circleContainer8').hide();
 $('#chronicle8Words').hide();
         $('#chronicleTop9').hide();
  $('#chronicle9Date').hide();
 $('#circleContainer9').hide();
 $('#chronicle9Words').hide();
         $('#chronicleTop10').hide();
  $('#chronicle10Date').hide();
 $('#circleContainer10').hide();
 $('#chronicle10Words').hide();
          $('#chronicleTop11').hide();
  $('#chronicle11Date').hide();
 $('#circleContainer11').hide();
 $('#chronicle11Words').hide();
           $('#chronicleTop12').hide();
  $('#chronicle12Date').hide();
 $('#circleContainer12').hide();
 $('#chronicle12Words').hide();
            $('#chronicleTop13').hide();
  $('#chronicle13Date').hide();
 $('#circleContainer13').hide();
 $('#chronicle13Words').hide();
             $('#chronicleTop14').hide();
  $('#chronicle14Date').hide();
 $('#circleContainer14').hide();
 $('#chronicle14Words').hide();
              $('#chronicleTop15').hide();
  $('#chronicle15Date').hide();
 $('#circleContainer15').hide();
 $('#chronicle15Words').hide();
               $('#chronicleTop16').hide();
  $('#chronicle16Date').hide();
 $('#circleContainer16').hide();
 $('#chronicle16Words').hide();
                $('#chronicleTop17').hide();
  $('#chronicle17Date').hide();
 $('#circleContainer17').hide();
 $('#chronicle17Words').hide();
                 $('#chronicleTop18').hide();
  $('#chronicle18Date').hide();
 $('#circleContainer18').hide();
 $('#chronicle18Words').hide();
                  $('#chronicleTop19').hide();
  $('#chronicle19Date').hide();
 $('#circleContainer19').hide();
 $('#chronicle19Words').hide();
 $('#chronicleTop20').hide();
});

$(document).ready(function() {
$('#header').waypoint(function() {
   $('#chronicleContent1').fadeOut( "slow" );
   $('#chronicleContent1').hide();
    $('#chronicle').hide();
 $('#chronicle1Date').hide();
 $('#circleContainer1').hide();
 $('#chronicle1Words').hide();
     $('#chronicleTop2').hide();
 $('#chronicle2Date').hide();
 $('#chronicle2Circle').hide();
 $('#chronicle2Words').hide();
      $('#chronicleTop3').hide();
 $('#chronicle3Date').hide();
 $('#circleContainer3').hide();
 $('#chronicle3Words').hide();
       $('#chronicleTop4').hide();
 $('#chronicle4Date').hide();
 $('#circleContainer4').hide();
 $('#chronicle4Words').hide();
        $('#chronicleTop5').hide();
 $('#chronicle5Date').hide();
 $('#circleContainer5').hide();
 $('#chronicle5Words').hide();
         $('#chronicleTop6').hide();
 $('#chronicle6Date').hide();
 $('#circleContainer6').hide();
 $('#chronicle6Words').hide();
          $('#chronicleTop7').hide();
 $('#chronicle7Date').hide();
 $('#circleContainer7').hide();
 $('#chronicle7Words').hide();
           $('#chronicleTop8').hide();
 $('#chronicle8Date').hide();
 $('#circleContainer8').hide();
 $('#chronicle8Words').hide();
            $('#chronicleTop9').hide();
 $('#chronicle9Date').hide();
 $('#circleContainer9').hide();
 $('#chronicle9Words').hide();
            $('#chronicleTop10').hide();
 $('#chronicle10Date').hide();
 $('#circleContainer10').hide();
 $('#chronicle10Words').hide();
             $('#chronicleTop11').hide();
 $('#chronicle11Date').hide();
 $('#circleContainer11').hide();
 $('#chronicle11Words').hide();
              $('#chronicleTop12').hide();
 $('#chronicle12Date').hide();
 $('#circleContainer12').hide();
 $('#chronicle12Words').hide();
               $('#chronicleTop13').hide();
 $('#chronicle13Date').hide();
 $('#circleContainer13').hide();
 $('#chronicle13Words').hide();
                $('#chronicleTop14').hide();
 $('#chronicle14Date').hide();
 $('#circleContainer14').hide();
 $('#chronicle14Words').hide();
                 $('#chronicleTop15').hide();
 $('#chronicle15Date').hide();
 $('#circleContainer15').hide();
 $('#chronicle15Words').hide();
                  $('#chronicleTop16').hide();
 $('#chronicle16Date').hide();
 $('#circleContainer16').hide();
 $('#chronicle16Words').hide();
                   $('#chronicleTop17').hide();
 $('#chronicle17Date').hide();
 $('#circleContainer17').hide();
 $('#chronicle17Words').hide();
                    $('#chronicleTop18').hide();
 $('#chronicle18Date').hide();
 $('#circleContainer18').hide();
 $('#chronicle18Words').hide();
                     $('#chronicleTop19').hide();
 $('#chronicle19Date').hide();
 $('#circleContainer19').hide();
 $('#chronicle19Words').hide();
                      $('#chronicleTop20').hide();
});
});


$(document).ready(function() {
$('#header1').waypoint(function() {
  $('#chronicleContent1').fadeIn(); 
   $('#chronicle').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle1').waypoint(function() {
   $('#chronicle1Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer1").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle1Words").fadeIn( "slow" );
    }, 700);
});
});

// 2

$(document).ready(function() {
$('#header2Chro').waypoint(function() {
   $('#chronicleTop2').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle2').waypoint(function() {
   $('#chronicle2Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#chronicle2Circle").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle2Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header3Chro').waypoint(function() {
   $('#chronicleTop3').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle3').waypoint(function() {
   $('#chronicle3Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer3").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle3Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header4Chro').waypoint(function() {
   $('#chronicleTop4').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle4').waypoint(function() {
   $('#chronicle4Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer4").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle4Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header5Chro').waypoint(function() {
   $('#chronicleTop5').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle5').waypoint(function() {
   $('#chronicle5Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer5").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle5Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header6Chro').waypoint(function() {
   $('#chronicleTop6').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle6').waypoint(function() {
   $('#chronicle6Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer6").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle6Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header7Chro').waypoint(function() {
   $('#chronicleTop7').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle7').waypoint(function() {
   $('#chronicle7Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer7").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle7Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header8Chro').waypoint(function() {
   $('#chronicleTop8').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle8').waypoint(function() {
   $('#chronicle8Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer8").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle8Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header9Chro').waypoint(function() {
   $('#chronicleTop9').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle9').waypoint(function() {
   $('#chronicle9Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer9").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle9Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header10Chro').waypoint(function() {
   $('#chronicleTop10').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle10').waypoint(function() {
   $('#chronicle10Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer10").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle10Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header11Chro').waypoint(function() {
   $('#chronicleTop11').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle11').waypoint(function() {
   $('#chronicle11Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer11").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle11Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header12Chro').waypoint(function() {
   $('#chronicleTop12').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle12').waypoint(function() {
   $('#chronicle12Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer12").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle12Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header13Chro').waypoint(function() {
   $('#chronicleTop13').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle13').waypoint(function() {
   $('#chronicle13Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer13").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle13Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header14Chro').waypoint(function() {
   $('#chronicleTop14').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle14').waypoint(function() {
   $('#chronicle14Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer14").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle14Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header15Chro').waypoint(function() {
   $('#chronicleTop15').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle15').waypoint(function() {
   $('#chronicle15Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer15").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle15Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header16Chro').waypoint(function() {
   $('#chronicleTop16').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle16').waypoint(function() {
   $('#chronicle16Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer16").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle16Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header17Chro').waypoint(function() {
   $('#chronicleTop17').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle17').waypoint(function() {
   $('#chronicle17Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer17").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle17Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header18Chro').waypoint(function() {
   $('#chronicleTop18').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle18').waypoint(function() {
   $('#chronicle18Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer18").show( "slide", { direction: "left" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle18Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header19Chro').waypoint(function() {
   $('#chronicleTop19').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#headerChronicle19').waypoint(function() {
   $('#chronicle19Date').fadeIn( "slow" );
    setTimeout(function() {
      $("#circleContainer19").show( "slide", { direction: "right" }, 700 );
    }, 10);
    setTimeout(function() {
      $("#chronicle19Words").fadeIn( "slow" );
    }, 700);
});
});

$(document).ready(function() {
$('#header20Chro').waypoint(function() {
   $('#chronicleTop20').fadeIn( "slow" );
});
});

</script>

<script type="text/javascript">
    $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>


<div id='bottom' class='chronicBottom'></div>
<div id='contactUsInvolved' onclick='closeLogin();'>

<div id='contactContent'>

<h3 id='contactHeading'>CONTACT US</h3>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>
  <p id='address'>MOI'M NYC</p>
  <p id='addressa'>1271 Avenue of The Americas, 44th FL</p>
  <p id='addressb'>New York, NY 10020</p>

  <div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/faceBook.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youTube.png' class='img-zoom' id='youtube_small'></a>
</div>

</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>

<p id='tax'>MOI'M New York, Inc. is a 501(c)3 organization. All contributions will be tax-deductible to the extent allowed by law.</p>

</p>
</div>

</div>



</div>

</body>
</html>