<!-- <div id="aboutpage-container">
<h3>MOI'M GET INVOLVED PAGE</h3>
</div> -->

<html>
<head>
	<title></title>
</head>
<body id='involvedPage'>

<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 


<div id='top_banner' class='navigation animated slideInRight'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>

<img id='whiteGuyPic' class='animated slideInLeft' src = '/assets/chairs.jpg' onclick='closeLogin();return false;'>
<h2 id='involvedBlend' class='animated slideInLeft'>GET INVOLVED</h2>
<!-- <img id='involvedLine'  class='animated slideInLeft' src = "/assets/line.png"> -->

<a href="#top" class="back-to-top">Back to Top</a>
<div id='getInvolvedContent' class='animated slideInUp' onclick='closeLogin();return false;'>
<img id='leadershipPic' src = "/assets/leadership.png">
<p id='sale'>
Do you want to help organize The Biggest Parties alongside a team of passionate<br> 
individuals while giving back? Then you are in the right place.<br><br>
Come join us to produce some of the classiest creative networking events in the<br>
 world, here in NYC!<br><br>

MOI’M is a community of young professionals and students based in New York<br>
 City, driven by our passion to connect people with people, ideas and<br>
  opportunities to make a difference in the quality of connections people make<br>
   that ultimately inspires a sense of community.<br><br>

Our 2016 schedule will be full of exciting projects, and we want to invite you to<br>
 be part of our team! If you are interested, please submit an application<br>
  (<a id='infoLink' onclick="window.open('https://www.surveymonkey.com/s/S7J322S');" target="_blank">HERE</a>) along with your resume to:
   <a onclick='emailInfo();return false;' id='infoLink'>info@moimnewyork.com</a>.<br><br>

If there isn’t a specific position that catches your eye, but you still want to join<br>
 the team, then please send your resume and a description of your skillset to:<br>
  <a onclick='emailInfo();return false;' id='infoLink'>info@moimnewyork.com</a>.<br><br>
<span id='openPositionHead'>Current Open Positions</span><br><br>

We don’t have any open positions currently. Please check back!
</p>

<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='involvedBottom'></div>
<div id='contactUsInvolved' class='animated slideInLeft' onclick='closeLogin();return false;'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>
</div>



</div>

</body>
</html>