<!-- <div id="aboutpage-container">
	<div id="aboutpage-whoweare-summary">
		<h3>Who We Are</h3>
		<p class="aboutpage-english">MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.</p>
		<p class="aboutpage-english">Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.</p>
		<p class="aboutpage-english">Our Purpose is to provide a special space where we can network free from any affiliations and discuss how to further empower and give back to the community. As a Korean creative 	networking organization, MOI'M creates events that facilitate networking for anyone interested in Korea and promote community outreach.</p>
		<br><br>

		<p class="aboutpage-korean">MOI'M New York, Inc. 은 미국 뉴욕 주 소재한 비영리 단체입니다. </p>

		<br></br>

		<p class="aboutpage-korean">저희 단체는 사람, 아이디어 그리고 기회들 간의 브릿지 역할을 하여 우리 주위의 개개인을 새로운 방식으로 연결하려는 데 뜻을 모으고 있습니다. 저희 단체는 여러분들에게 어느 한 단체나 학교등의 소속감없이 편히 네트워킹을 할 수 있는 특별한 공간을 제공하고 우리 주위의 커뮤니티를 돌아볼 수 있는 기회를 마련해 드립니다. MOI'M은 한국 문화에 관심이 있는 사람이면 누구나 참여가능한 네트워킹 이벤트를 기획하는 단체입니다. </p>
	</div>
	<br><br>
	<div class="aboutpage-fourpillars">
		<div class="fourpillar">Networking</div>
		<div class="fourpillar">Creativity</div>
		<div class="fourpillar">Entertainment</div>
		<div class="fourpillar">Inspiration</div>
	</div>
	<div class="aboutpage-clear"></div>

	<div class="aboutpage-history">
		<h2>SINCE 2013</h2>
		<p>WE HAVE ENGAGED <span class="history-blue">5092</span> GUEST</p>
		<p>TO POSITIVELY INFLUENCE <span class="history-blue">164166</span> INDIVIDUALS</p>
		<p>THROUGH <span class="history-blue">26</span> COLLABORATIONS</p>
		<p>AT <span class="history-blue">5092</span> EVENTS</p>
</div> -->

<html>
<head>
	<title></title>
</head>
<body>


      


<a href="#top" class="back-to-top">Back to Top</a>
<div id='missionContent' class='animated slideInUp' onclick='closeLogin();return false;'>THE MISSION</div>

<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='contactUs' class='animated slideInLeft'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
	<p id='contactLines1'>
	For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
	</p>
	<p id='contactLines2'>
	For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
	</p>
	<p id='contactLines3'>
	For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
	</p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>

</div>

</body>
</html>