<div id="aboutpage-container">
	<div id="welcomepage-whoweare-summary">
		<h3>Who We Are</h3>
		<p>MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.</p>
		<p>Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.</p>
		<p>Our Purpose is to provide a special space where we can network free from any affiliations and discuss how to further empower and give back to the community. As a Korean creative 	networking organization, M'OIM creates events that facilitate networking for anyone interested in Korea and promote community outreach.</p>
		<br><br>
	</div>
</div>