
<html>
<head>
	<title></title>

</head>
<body id="missionPage">



<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
    console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 


<div id='top_banner' class='navigation animated slideInRight'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
                
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                    <ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                        </li>
                        <li>
                            <a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                            <a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                            <a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
                </li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
                    <ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                        </li>
                        <li>
                            <a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                            <a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                            <a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>

<img id='whiteGuyPic' class='animated slideInLeft' src = '/assets/city.jpg' onclick='closeLogin();return false;'>
<h2 id='missionBlend' class='animated slideInLeft'>THE MISSION</h2>
<!-- <img id='missionLine'  class='animated slideInLeft' src = "/assets/line.png"> -->

<div id='missionQuote' class='animated slideInLeft'><p id='missionQuoteContent'>
"Networking is not about just connecting people.<br>
It's about connecting people with people, people with ideas, and people with opportunities."<br><br>
Michele Jennae</p>
</div>


<a href="#top" class="back-to-top">Back to Top</a>
<div id='missionContent' class='animated slideInUp' onclick='closeLogin();return false;'>


<h1 id='whoHead'>WHO WE ARE</h1>
<img id='whoWeAreLine' src = "/assets/line.png">
<p id='missionIntro'>
MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.
<br><br>
Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.<br>
Our purpose is to provide a special space where we can network free from any affiliations and discuss how to further empower<br>
and give back to the community. As a Korean creative networking organization, MOI’M creates events that facilitate networking<br>
for anyone interested in Korea and promote community outreach.
<br><br>   
MOI’M New York, Inc. 은 미국 뉴욕 주 소재한 비영리 단체입니다.
<br><br>
저희 단체는 사람, 아이디어 그리고 기회들 간의 브릿지 역할을 하여 우리 주위의 개개인을 새로운 방식으로 연결하려는 데 뜻을 모으고 있습니다.<br>
저희 단체는 여러분들에게 어느 한 단체나 학교등의 소속감없이 편히 네트워킹을 할 수 있는 특별할 공간을 제공하고, 우리 주위의 커뮤니티를<br>
돌아볼 수 있는 기회를 마련해 드립니다. MOI’M은 한국 문화에 관심이 있는 사람이면 누구나 참여 가능한 네트워킹 이벤트를 기획하는 단체입니다.  
</p>
<img id='longLineFour' src = "/assets/longLine.png">

<h1 id='fourHead'>FOUR PILLARS</h1>
<img id='pillarsLine' src = "/assets/line.png">
<p id='pillarsIntro'>
In a society where everyone is looking for the next best thing, it is key to be different. That is what we are –<br>
We are something different. All of our events reflect our four key pillars: creativity, entertainment, networking, and inspiration.
</p>

<div id='networkingPic'></div>
<div id='creativityPic'></div>
<div id='entertainmentPic'></div>
<div id='inspirationPic'></div>

<img id='longLinePillar' src = "/assets/longLine.png">

<h1 id='sinceHead'>SINCE 2013</h1>
<img id='sinceLine' src = "/assets/line.png">

<div id='container'>
<div id='spitContainer'><span id='spit'>5026</span></div>
<div id="stat1" class='number'><span class="count">5026</span></div>
<div id="stat2" class='number'><span class="count">164166</span></div>
<div id="stat3" class='number'><span class="count">26</span></div>
<div id="stat4" class='number'><span class="count">11</span></div>

<p id='boast1'><span id='countLeft1'>WE HAVE ENGAGED</span><span id='countRight1'>GUESTS</span></p>
<p id='boast2'><span id='countLeft2'>TO POSITIVELY INFLUENCE</span><span id='countRight2'>INDIVIDUALS</span></p>
<p id='boast3'><span id='countLeft3'>THROUGH</span><span id='countRight3'>COLLABORATIONS</span></p>
<p id='boast4'><span id='countLeft4'>AT</span><span id='countRight4'>EVENTS</span></p>

</div>

<script type="text/javascript">
// $("#spitContainer").hide();

// function counter10(){    $('#stat1').each(function () {
//     $(this).prop('Counter',0).animate({
//         Counter: $(this).text()
//     }, {
//         duration: 3000,
//         easing: 'swing',
//         step: function (now) {
//             $(this).text(Math.ceil(now));
//         }
//     });
// });  }
// window.onload = counter10;

$("#spit").hide();
 
function counter1(){    $('#stat1').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  
    setTimeout(function() {
        $("#spit").show();
        $("#stat1").css("color", "white");
        }, 3000);
    setTimeout(function() {
        $("#spit").hide();
        $("#stat1").css("color", "#357FFF");
        }, 8000);
}

setInterval(counter1, 8000);

</script>


<script type="text/javascript">

function counter20(){    $('#stat2').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  }
window.onload = counter20;
function counter2(){    $('#stat2').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  }

setInterval(counter2, 7000);
</script>

<script type="text/javascript">
function counter3a(){    $('#stat3').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  }

function counter3(){    $('#stat3').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  }

setInterval(counter3, 7000);
</script>

<script type="text/javascript">
function counter4a(){    $('#stat4').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  }

function counter4(){    $('#stat4').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});  }

setInterval(counter4, 7000);
</script>

<p id='boastOutro'>
MOI’M believes that a network of talented young people can lead to a self-propelling synergy with great implications.<br>
Through our connections, we hope to empower and inspire individuals to give back to the communities around us.
</p>


</div>





<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='missionBottom'></div>
<div id='contactUsMission' class='animated slideInLeft' onclick='closeLogin();return false;'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
	<p id='contactLines1'>
	For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
	</p>
	<p id='contactLines2'>
	For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
	</p>
	<p id='contactLines3'>
	For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
	</p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>

</div>

</body>
</html>