<!-- <div id="aboutpage-container">
	<div id="aboutpage-whoweare-summary">
		<h3>Who We Are</h3>
		<p class="aboutpage-english">MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.</p>
		<p class="aboutpage-english">Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.</p>
		<p class="aboutpage-english">Our Purpose is to provide a special space where we can network free from any affiliations and discuss how to further empower and give back to the community. As a Korean creative 	networking organization, MOI'M creates events that facilitate networking for anyone interested in Korea and promote community outreach.</p>
		<br><br>

		<p class="aboutpage-korean">MOI'M New York, Inc. 은 미국 뉴욕 주 소재한 비영리 단체입니다. </p>

		<br></br>

		<p class="aboutpage-korean">저희 단체는 사람, 아이디어 그리고 기회들 간의 브릿지 역할을 하여 우리 주위의 개개인을 새로운 방식으로 연결하려는 데 뜻을 모으고 있습니다. 저희 단체는 여러분들에게 어느 한 단체나 학교등의 소속감없이 편히 네트워킹을 할 수 있는 특별한 공간을 제공하고 우리 주위의 커뮤니티를 돌아볼 수 있는 기회를 마련해 드립니다. MOI'M은 한국 문화에 관심이 있는 사람이면 누구나 참여가능한 네트워킹 이벤트를 기획하는 단체입니다. </p>
	</div>
	<br><br>
	<div class="aboutpage-fourpillars">
		<div class="fourpillar">Networking</div>
		<div class="fourpillar">Creativity</div>
		<div class="fourpillar">Entertainment</div>
		<div class="fourpillar">Inspiration</div>
	</div>
	<div class="aboutpage-clear"></div>

	<div class="aboutpage-history">
		<h2>SINCE 2013</h2>
		<p>WE HAVE ENGAGED <span class="history-blue">5092</span> GUEST</p>
		<p>TO POSITIVELY INFLUENCE <span class="history-blue">164166</span> INDIVIDUALS</p>
		<p>THROUGH <span class="history-blue">26</span> COLLABORATIONS</p>
		<p>AT <span class="history-blue">5092</span> EVENTS</p>
</div> -->

<html>
<head>
	<title></title>
	<script src="/application/html/js/inorganik/countup.js/countup.min.js"></script>
</head>
<body id="missionPage">

<img id='whiteGuyPic' class='animated slideInLeft' src = '/assets/city.jpg' onclick='closeLogin();return false;'>
<h2 id='missionBlend' class='animated slideInRight'>THE MISSION</h2>
<img id='missionLine'  class='animated slideInRight' src = "/assets/line.png">

<div id='missionQuote' class='animated slideInUp'><p id='missionQuoteContent'>
"Networking is not about just connecting people.<br>
It's about connecting people with people, people with ideas, and people with opportunities."<br><br>
Michele Jennae</p>
</div>


<a href="#top" class="back-to-top">Back to Top</a>
<div id='missionContent' class='animated slideInUp' onclick='closeLogin();return false;'>


<h1 id='whoHead'>WHO WE ARE</h1>
<img id='whoWeAreLine' src = "/assets/line.png">
<p id='missionIntro'>
MOI’M New York, Inc. (MOI’M) is a mission-driven 501(c)3 not-for-profit organization.
<br><br>
Our mission is to bridge people, ideas, and opportunities to inspire new ways to connect with one another and the world around us.<br>
Our purpose is to provide a special space where we can network free from any affiliations and discuss how to further empower<br>
and give back to the community. As a Korean creative networking organization, MOI’M creates events that facilitate networking<br>
for anyone interested in Korea and promote community outreach.
<br><br>   
MOI’M New York, Inc. 은 미국 뉴욕 주 소재한 비영리 단체입니다.
<br><br>
저희 단체는 사람, 아이디어 그리고 기회들 간의 브릿지 역할을 하여 우리 주위의 개개인을 새로운 방식으로 연결하려는 데 뜻을 모으고 있습니다.<br>
저희 단체는 여러분들에게 어느 한 단체나 학교등의 소속감없이 편히 네트워킹을 할 수 있는 특별할 공간을 제공하고, 우리 주위의 커뮤니티를<br>
돌아볼 수 있는 기회를 마련해 드립니다. MOI’M은 한국 문화에 관심이 있는 사람이면 누구나 참여 가능한 네트워킹 이벤트를 기획하는 단체입니다.  
</p>
<img id='longLineFour' src = "/assets/longLine.png">

<h1 id='fourHead'>FOUR PILLARS</h1>
<img id='pillarsLine' src = "/assets/line.png">
<p id='pillarsIntro'>
In a society where everyone is looking for the next best thing, it is key to be different. That is what we are –<br>
We are something different. All of our events reflect our four key pillars: creativity, entertainment, networking, and inspiration.
</p>

<div id='networkingPic'></div>
<div id='creativityPic'></div>
<div id='entertainmentPic'></div>
<div id='inspirationPic'></div>

<img id='longLinePillar' src = "/assets/longLine.png">

<h1 id='sinceHead'>SINCE 2013</h1>
<img id='sinceLine' src = "/assets/line.png">


<div id="stat1"><span class="count1">5092</span></div>
<div id="stat2"><span class="count">164166</span></div>
<div id="stat3"><span class="count">26</span></div>
<div id="stat4"><span class="count">11</span></div>

<p id='boast1'>WE HAVE ENGAGED GUESTS</p>
<p id='boast2'>TO POSITIVELY INFLUENCE INDIVIDUALS</p>
<p id='boast3'>THROUGH COLLABORATIONS</p>
<p id='boast4'>AT EVENTS</p>

<script type="text/javascript">
	$('#stat1').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script type="text/javascript">
	$('#stat2').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script type="text/javascript">
	$('#stat3').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script type="text/javascript">
	$('#stat4').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>

<p id='boastOutro'>
MOI’M believes that a network of talented young people can lead to a self-propelling synergy with great implications.<br>
Through our connections, we hope to empower and inspire individuals to give back to the communities around us.
</p>


</div>





<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='missionBottom'></div>
<div id='contactUsMission' class='animated slideInLeft'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
	<p id='contactLines1'>
	For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
	</p>
	<p id='contactLines2'>
	For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
	</p>
	<p id='contactLines3'>
	For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
	</p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>

</div>

</body>
</html>