<!-- <div id="aboutpage-container">
<h3>MOI'M TEAM PAGE</h3>
</div> -->

<html>
<head>
	<title></title>
</head>
<body id='teamPage'>

<script>
var head ="<h2 id='teamBlend'>MEET THE TEAM</h2>"
var missionLine ="<img id='missionLine' src = '/assets/line.png'>"

$(window).load(function() {
  $('body').append( head );
  $('body').append( missionLine );
  $('#teamBlend').hide();
  $('#missionLine').hide();
  setTimeout(function() {
  $('#teamBlend').fadeIn( "slow" );
  $('#missionLine').fadeIn( "slow" );
}, 300);
});

$(document).ready(function() {
$('#header1').waypoint(function() {
   $('#welcomeBottom1').fadeOut();
});
});

$(document).ready(function() {
$('#header').waypoint(function() {
   $('#welcomeBottom1').fadeIn( "slow" );
});
});

$(document).ready(function() {
$('#header2').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "#161616",
    height:"0px"
  }, 200 );

  $( "#top_banner" ).animate({
    // width: "70%",
    backgroundColor: "#161616",
    marginTop: "0px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});

$(document).ready(function() {
$('#header1').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "rgba(0,0,0,0.1)",
    height:"15px"
  }, 200 );
  $( "#top_banner" ).animate({
    // width: "70%",
    backgroundColor: "rgba(0,0,0,0.1)",
    marginTop: "15px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});
</script>

<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 

<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2">
<!-- <h1>trigger</h1> -->
</div>
<div id='top_helper'></div>
<div id='top_banner' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>

<img id='whiteGuyPic' class='animated zoomIn' src = '/assets/theTeam.jpg' onclick='closeLogin();return false;'>

<!-- <img id='teamLine'  class='animated slideInLeft' src = "/assets/line.png"> -->


<a href="#top" class="back-to-top">Back to Top</a>


<div id='teamContent' class='animated slideInUp' onclick='closeLogin();return false;'>
<!-- <h1 id='meetHead'>MEET THE TEAM</h1>
<img id='meetLine' src = "/assets/line.png"> -->
<!-- <div id='blue'></div>
<div id='red'></div> -->
<div id='teamMainSlide'>

<div id='leadershipTeamPic' onclick='leaders();return false;'></div>
<div id='eventTeamPic' onclick='events();return false;'></div>
<div id='creativeTeamPic' onclick='creative();return false;'></div>
<div id='prTeamPic' onclick='pr();return false;'></div>
<div id='soarTeamPic' onclick='soar();return false;'></div>
<div id='itTeamPic' onclick='it();return false;'></div>
<div id='advisoryTeamPic' onclick='advisory();return false;'></div>
<div id='contributorsPic' onclick='contributors();return false;'></div>

</div>

<script type="text/javascript">
    $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>


<div id='bottom' class='teamBottom'></div>
<div id='contactUsInvolved' onclick='closeLogin();'>

<div id='contactContent'>

<h3 id='contactHeading'>CONTACT US</h3>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>
  <p id='address'>MOI'M NYC</p>
  <p id='addressa'>1271 Avenue of The Americas, 44th FL</p>
  <p id='addressb'>New York, NY 10020</p>

  <div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/faceBook.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youTube.png' class='img-zoom' id='youtube_small'></a>
</div>

</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>

<p id='tax'>MOI'M New York, Inc. is a 501(c)3 organization. All contributions will be tax-deductible to the extent allowed by law.</p>

</p>
</div>
</div>



</div>

</body>
</html>