<!-- <div id="aboutpage-container">
<h3>MOI'M TEAM PAGE</h3>
</div> -->

<html>
<head>
	<title></title>
</head>
<body id='teamPage'>

<img id='whiteGuyPic' class='animated slideInLeft' src = '/assets/theTeam.jpg' onclick='closeLogin();return false;'>
<h2 id='teamBlend' class='animated slideInRight'>THE TEAM</h2>
<img id='teamLine'  class='animated slideInRight' src = "/assets/line.png">


<a href="#top" class="back-to-top">Back to Top</a>


<div id='teamContent' class='animated slideInUp' onclick='closeLogin();return false;'>
<!-- <h1 id='meetHead'>MEET THE TEAM</h1>
<img id='meetLine' src = "/assets/line.png"> -->
<!-- <div id='blue'></div>
<div id='red'></div> -->


<div id='leadershipTeamPic' onclick='leaders();return false;'></div>
<div id='eventTeamPic'></div>
<div id='creativeTeamPic'></div>
<div id='prTeamPic'></div>
<div id='soarTeamPic'></div>
<div id='itTeamPic'></div>
<div id='advisoryTeamPic'></div>
<div id='contributorsPic'></div>

</div>

<script type="text/javascript">
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>


<div id='bottom' class='teamBottom'></div>
<div id='contactUsTeam' class='animated slideInLeft' onclick='closeLogin();return false;'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
	<p id='contactLines1'>
	For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
	</p>
	<p id='contactLines2'>
	For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
	</p>
	<p id='contactLines3'>
	For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
	</p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>

</div>

</body>
</html>