// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#aboutpage-container {
	position: absolute;
	top: 160px;
	left: 100px;
	right: 100px;
	text-align: center;
}

.aboutpage-fourpillars {
	clear: both;
}

.aboutpage-clear {
	clear: both;
}

.fourpillar {
	width: 260px;
	height: 260px;
	padding: 15px;
	margin: 15px;
	border: solid 1px black;
	float: left;
}



.history-blue {
	color: blue;
	font-size: 23px;
}

p {
	font-size: 16px;
	font-family: Franklin Gothic Book;
}