html {
  height: 100%;
}

body {
  /*background: url() no-repeat;*/
  /*background-color:black;*/
  background:url()center top;
  background-size: 1200px;
  background-color:black;
  /*background-repeat: repeat-y;*/
	width:1260px;
  	height: 3300px;
  	margin: 0 auto;
  position:relative;
  overflow:auto;
}

#container{
	position:absolute;
}

#mainLogo{
	position: absolute;
	z-index: 10;
	margin-left:10px;
	margin-top:74px;
	width:250px;
	/*height:50px;*/
}

#logo{
	position:absolute;
	width:100px;
	top:2px;
	margin-left:30px;
}

#logo:hover{
	cursor:pointer;
}

#top_banner {
	background-image: url();
	position: fixed;
/*	background-size:cover;*/
	margin-top:0px;
	margin-left:0px;
	width: 1260px;
 	height: 64px;
 	text-shadow: 2px 2px 2px #000;
 	/*padding-top:10px;*/
 	/*padding-bottom:10px;*/
 	/*border: #CEAC00;
 	border-style:solid;
 	border-width:2.5px;*/ 
 	/*background-repeat: no-repeat;*/
 	background-color:rgba(0,0,0,0.9);
 	/*border-radius: 5px;*/
 	z-index: 10;
}


.navigation {
            width:700px;
        }
        .navigation ul{
        /* positioning */
        	position:relative;
            z-index:1000;
        /* remove the dots next to list items: */
            list-style:none; 
        /* get rid of any default or inherited margins and padding: */
            margin-top:32px; 
            margin-left:250px; 
            
        /* styling: */
            font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
            font-weight: thin;
            font-size: 15px;
            /*text-align: center;*/
            /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
        }
        
        /* we're using the direct descendant selectors > to ONLY affect the main menu items */
        .navigation > ul > li {
        /* positioning */ 
            position: relative;
            float: left;
        /* styling: */
            margin-right: 20px;
            /*margin-top:5px;*/
        }
        .navigation > ul > li > a {
        /* positioning */ 
            /*display:block;*/
        /* styling: */
            
            padding:32px 14px;
            text-decoration:none;
            color:white; 
            /*text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;*/
        
        }
        
        .navigation > ul > li > a:hover{
        /* styling: */
            
            border-top: 6px solid #66E5FF;
        }
        

      	.navigation > ul > li > ul > li a:hover{
        /* styling: */
          color:#B2B2B2;
        }

                
.navigation ul ul{
            
            
            width:200px; /* you need a width to accommodate tertiary menus */
            margin-left: -50px;
            margin-top: 10px;
            position:absolute;
            z-index:100;
            height: 0;
            overflow: hidden;


            -webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
        }
        

        /* don't display tertiary box yet */
        .navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
            height:0;
            
        }
        /* tertiary drop-down box */
        .navigation ul ul ul{
            left:150px;
            width:130px;

        }
        
        .navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
        .navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
            height:140px;  
        }
        
        /* drop-down item styles */
        /* if you want different styling for tertiary menus, just copy the 4 rules below and insert an additional ul: for example: ".navigation ul ul li", becomes: ".navigation ul ul ul li" */
        
        .navigation #aboutDrop{
        	margin-left:0px;
            background-color:rgba(0,0,0,0.5);

            width:175px;
            padding-left: 20px;
            padding-right: 20px;
           /* border: #CEAC00;
 			border-style:solid;
 			border-width:2.5px;
 			border-radius:5px;*/

            -webkit-transition: background-color 1s ease;
            -moz-transition: background-color 1s ease;
            -o-transition: background-color 1s ease;
            -ms-transition: background-color 1s ease;
            transition: background-color 1s ease;
        }

		 .navigation #communityDrop{
        	margin-left: 0px;
            background-color:rgba(0,0,0,0.5);
            
            width:200px;
            padding-left: 20px;
            padding-right: 20px;
           /* border: #CEAC00;
 			border-style:solid;
 			border-width:2.5px;
 			border-radius:5px;*/

            -webkit-transition: background-color 1s ease;
            -moz-transition: background-color 1s ease;
            -o-transition: background-color 1s ease;
            -ms-transition: background-color 1s ease;
            transition: background-color 1s ease;
        }

        .navigation ul ul li:hover {
            /*background-color:#999; /* grey */
        }
        
        .navigation ul ul li a {
            display:block;
            text-decoration:none;
            margin:0 0px;
            padding:5px 0;
            color:white; /* grey */
        }
        .navigation ul ul li a:hover, .navigation ul ul li:hover > a {
            color:white;
        }

.navigation ul ul ul li a{
            border:0 !important;
        }
        .navigation ul ul ul li + li a{
            border-top:1px dotted #999 !important;
        }
        .navigation ul ul li + li a{
            border-top:1px dotted #999;
        }
        .navigation ul ul li:hover + li a{
            border-top: 1px solid #66E5FF; 

        }
        .navigation ul ul ul li:hover + li a{
            border: 0 !important;
        }
        .navigation ul ul ul li:hover + li{
            /*border-top:1px dotted #999 !important;*/
        }

        .arrow{background:url(http://upload.wikimedia.org/wikipedia/commons/e/e8/ArrowRight-gray.svg) right center no-repeat;
}

.aboutSelect:hover{
	cursor:pointer;
}

.communitySelect:hover{
	cursor:pointer;
}

#aboutArrow {
	position:absolute;
	margin-top:3px;
	margin-left:-7px;
	width:12px;
}

#communityArrow {
	position:absolute;
	margin-top:3px;
	margin-left:-7px;
	width:12px;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 50px;
	bottom: 10px;
	background: rgba(0,0,0,0.1) url("up arrow.png") no-repeat center 41%;
	background-size: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a.back-to-top:hover{
	background: rgba(0,0,0,0.2)
}

#eventsSlideShow{
	position:absolute;
}

#frontPic{
	margin-top:0px;
	width: 1260px;
	height: 620px;
    position:absolute;
}

#firstQuote{
	position:absolute;
	margin-top:479px;
	margin-left: 370px;
	width:800px;
	z-index:7;
	color:white;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
            font-weight: normal;
            font-size: 15px;
   	text-align: center;
}



@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

#backdrop{
	width: 380px;
	height: 557px;
    position: absolute;
    margin-top: 63px;
	margin-left:0px;
	z-index:8;
	background-color:rgba(0,0,0,0.8);
}


#crossfade2 > img { 
   width: 380px;
	height: 556px;
    position: absolute;
    margin-top: 63px;
	margin-left:0px;
    color: transparent;
    opacity: 0;
    z-index: 9;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s; 
}

#crossfade2 > img:nth-child(2)  { 
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s; 
}
#crossfade2 > img:nth-child(3) { 
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade2 > img:nth-child(4) { 
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 27s;
    -moz-animation-delay: 27s;
    -o-animation-delay: 27s;
    -ms-animation-delay: 27s;
    animation-delay: 27s; 
}
#crossfade2 > img:nth-child(5) { 
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s; 
}

#theMission{
	position:absolute;
	margin-top:625px;
}

#missionContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#chronicleContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#theChronicle{
	position:absolute;
	margin-top:1295px;
}



#theTeam{
	position:absolute;
	margin-top:1965px;
}

#teamContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#getInvolved{
	position:absolute;
	margin-top:2635px;
}

#getInvolvedContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#eventsContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#blogsContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#galleriesContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#expressYourselvesContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#pressesContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#externalEventsContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#careerboardsContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#localhotspotsContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#freeboardsContent {
	font-family: 'Arvo', Georgia, Times, serif;
	position: absolute;
	margin-top:65px;
	margin-left:0px;
	width:100%;
	height:670px;
	background-color:white;
	z-index:;
	/*width:1800px;*/
	/*border-top:solid;
	border-width:7px;
	border-color:#1BAAC6;*/
}

#aboutLogo {
	position:absolute;
	margin-top:580px;
}

#chronicleLogo {
	position:absolute;
	margin-top:1250px;
}

#teamLogo {
	position:absolute;
	margin-top:1920px;
}

#getInvolvedLogo {
	position:absolute;
	margin-top:2590px;
}

#logoSlide {
	width:75px;
}

#contactUs{
	position:absolute;
    /*margin-top:3270px;*/
    margin-left:0px;
    z-index:8;
    width:1260px;
    height:240px;
    background-color:#2B2B2B;
    right: 0;
  	bottom: 0;
  	left: 0;
}

#contactContent{
	margin-left:120px;	
	margin-top:35px;
}

#contactHeading{
	position:absolute;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color:white;
    z-index:9;
    margin-left:100px;
    margin-top:50px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:12px;
    border-bottom: 2px solid #66E5FF;
    margin: 0px;
}

#contactLines1{
	position:absolute;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	z-index:9;
	margin-top:60px;
	margin-left:30px;
	font-size: 15px;
    color:white;
}

#contactLines2{
	position:absolute;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	z-index:9;
	margin-top:85px;
	margin-left:30px;
	font-size: 15px;
    color:white;
}

#contactLines3{
	position:absolute;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	z-index:9;
	margin-top:110px;
	margin-left:30px;
	font-size: 15px;
    color:white;
}

#emailLink{
	color: #1BAAC6; 
	text-decoration: none;
}

#emailLink:hover{
	color:#66E5FF;
	text-decoration: underline;
}

#contactBottom{
	position:absolute;
	background-color:black;
	width:1260px;
	height:50px;
	margin-top:160px;
	/*bottom:0;*/
	z-index:9;
}

#welcomeBottom{
	position:absolute;
	background-color:black;
	width:1260px;
	height:50px;
	margin-top:620px;
	/*bottom:0;*/
	z-index:9;
}

#bottomContent{
	position:absolute;
	color:white;
	margin-left:150px;
	padding-top:15px;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

#bottomContentWelcome{
	position:absolute;
	color:white;
	margin-left:15px;
	padding-top:15px;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

#link{
	color: #1BAAC6; 
	text-decoration: none;
}

#link:hover{
	color:#66E5FF;
	text-decoration: none;
}

.img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.zoom_img img{
margin:50px;
height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.zoom_img img:hover{
-moz-transform:scale(1.3); 
-webkit-transform:scale(1.3);
-o-transform:scale(1.3);
}

.zoom_img1 img{
margin:50px;
height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.zoom_img1 img:hover{
-moz-transform:scale(1.1); 
-webkit-transform:scale(1.1);
-o-transform:scale(1.1);
}


#fb_small{
	position:absolute;
	margin-top:8px;
	margin-left:1120px;
	height:35px;
	width:35px;
}

#insta_small{
	position:absolute;
	margin-top:8px;
	margin-left:1160px;
	height:35px;
	width:35px;
}

#youtube_small{
	position:absolute;
	margin-top:8px;
	margin-left:1200px;
	height:35px;
	width:35px;
}

#termsOfUse{
	position:absolute;
	width:900px;
	height:500px;
	margin-top:2730px;
	margin-left:180px;
	background-color:white;
	border-style:solid;
	border-color:#2B2B2B;
	border-width:2px;
	z-index:10;
	/*border-radius: 10px;*/
}

#privacyPolicy{
	position:absolute;
	width:900px;
	height:500px;
	margin-top:2730px;
	margin-left:180px;
	background-color:white;
	border-style:solid;
	border-color:#2B2B2B;
	border-width:2px;
	z-index:10;
	/*border-radius: 10px;*/
}

#termsOfUseWelcome{
	position:absolute;
	width:900px;
	height:500px;
	margin-top:100px;
	margin-left:180px;
	background-color:white;
	border-style:solid;
	border-color:#2B2B2B;
	border-width:2px;
	z-index:10;
	/*border-radius: 10px;*/
}

#privacyPolicyWelcome{
	position:absolute;
	width:900px;
	height:500px;
	margin-top:100px;
	margin-left:180px;
	background-color:white;
	border-style:solid;
	border-color:#2B2B2B;
	border-width:2px;
	z-index:10;
	/*border-radius: 10px;*/
}

#close-img{
	position:absolute;
    /*float:right;*/
    margin-left:792px;   
}
#close{
	position:absolute;
	margin-top:3px;
    margin-right:3px;
    width:25px;
    height:25px;
    -webkit-filter: invert(0%) !important;
    
}

#close-img:hover img{
    -webkit-filter: invert(70%) !important;
    cursor: pointer;
}

#termsWords{
	position:absolute;
	color:black;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

#privacyWords{
	position:absolute;
	color:black;
	font-family:'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
}


