#localHeading{
	position:absolute;
	font-family:'GothamBook';
	margin-left:230px;
	margin-top:70px;
	font-size:20px;
}

#whereHeading{
	position:absolute;
	text-align: center;
	/*display: block;*/
	font-family:'GothamBook';
	margin-left: auto;
    margin-right: auto;
	margin-top:70px;
	font-size:20px;
	width:100%;
}

#careerHeading{
	position:absolute;
	/*text-align: center;*/
	/*display: block;*/
	font-family:'GothamBook';
	/*margin-left: auto;
    margin-right: auto;*/
    right:260px;
	margin-top:70px;
	font-size:20px;
	/*width:100%;*/
}

#imageOne{
	position:absolute;
	width:300px;
	margin-top:120px;
	margin-left:150px;
}

#imageTwo{
	position:absolute;
	width:300px;
	padding-top:120px;
	margin:auto;
	  left:0;
  right:0;
	display: block;
}

#imageThree{
	position:absolute;
	width:300px;
    right:150px;
	margin-top:120px;
}

.localLink{
	position:absolute;
	width:300px;
	font-family:'gothamBold';
	color:black;
	margin-top:460px;
	margin-left:150px;
}

.localLink:hover{
	cursor: pointer;
	text-decoration: none;
	color:#B2B2B2;
}

.localAuthor{
	position:absolute;
	font-family:'gothamItalic';
	color:black;
	margin-top:508px;
	margin-left:150px;
}

.localDate{
	position:absolute;
	font-family:'GothamBook';
	color:black;
	margin-top:-3px;
	margin-left:20px;
	width:100px;
}

#whereContainerBase{
	position:absolute;
	width:100%;
	/*background-color: black;*/
	/*height:100px;*/
}

#whereContainer{
	/*position:absolute;*/
	/*padding-top:0px;*/
	margin: 0 auto;
	display: table;
	/*text-align: center;*/
}

.whereLink{
	position:absolute;
	width:300px;
	font-family:'gothamBold';
	color:black;
	margin-top:460px;
	margin-left: -150px;
    /*margin-right: auto;*/
    width:300px;
    display: inline-block;
    /*text-align: center;*/
}

.whereLink:hover{
	cursor: pointer;
	text-decoration: none;
	color:#B2B2B2;
}

.whereAuthor{
	position:absolute;
	font-family:'gothamItalic';
	color:black;
	margin-top:508px;
	margin-left:-150px;
}

.whereDate{
	position:absolute;
	font-family:'GothamBook';
	color:black;
	margin-top:-3px;
	margin-left:20px;
	width:100px;
}

.careerLink{
	position:absolute;
	width:300px;
	font-family:'gothamBold';
	color:black;
	margin-top:460px;
	right:150px;
}

.careerLink:hover{
	cursor: pointer;
	text-decoration: none;
	color:#B2B2B2;
}

.careerAuthor{
	position:absolute;
	font-family:'gothamItalic';
	color:black;
	margin-top:508px;
	right:350px;
}

.careerDate{
	position:absolute;
	font-family:'GothamBook';
	color:black;
	margin-top:-3px;
	margin-left:20px;
	width:100px;
}

