<!DOCTYPE html>
<html>
<head>
  <title>MOI'M NYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/application/html/js/inorganik/countup.js/countup.min.js"></script>

  <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
   
  <script src="/assets/javascripts/bootstrap-modal.js"></script>

  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
  <link href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css" rel="stylesheet" />

  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-modal.css" rel="stylesheet" />

</head>
<body>
<script type="text/javascript">
   $('#login').modal({ ... });
</script>






</body>
</html>




<%= yield %>

</body>
</html>

