<!DOCTYPE html>
<html>
<head>
  <title>MOI'M NYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/application/html/js/inorganik/countup.js/countup.min.js"></script>
</head>
<body>







</body>
</html>




<%= yield %>

</body>
</html>

