<!DOCTYPE html>
<html>
<head>
  <title>MOI'M NYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 

	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand href" href="/">MOI'M</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" role="button" aria-haspopup="false">ABOUT
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
							<li>
								<a href="/mission">THE MISSION</a>
							</li>
							<li>
								<a href="/chronicle">THE CHRONICLE</a>
							</li>
							<li>
								<a href="/team">THE TEAM</a>
							</li>
							<li>
								<a href="/getinvolved">GET INVOLVED</a>
							</li>
						</ul>
					</li>
					<li><a href="/events">EVENTS</a></li>
					<li><a href="/galleries">PHOTOS & VIDEOS</a></li>
					<li><a href="/blogs">BLOG</a></li>
					<li><a href="/expresses">EXPRESS YOURSELF</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" role="button" aria-haspopup="false">THE COMMUNITY
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li>
								<a href="/partnerevents">EXTERNAL EVENTS</a>
							</li>
							<li>
								<a href="/careerboards">CAREER BOARD</a>
							</li>
							<li>
								<a href="/localhotspots">LOCAL HOTSPOTS</a>
							</li>
							<li>
								<a href="/freeboards">FREEBOARD</a>
							</li>
						</ul>
					</li>
					<li><a href="/presses">PRESS</a></li>
					<li><a href="/#" id="searchbox" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</div>
	</nav> -->

<div id='mainLogo' class='animated slideInLeft'>
<img id='logo' src='/assets/moimLogo.png' id='logo_back'>
</div>

<div id='top_banner' class='navigation animated slideInRight'>
  <!-- <nav> -->
<ul>
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='#theMission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='#theChronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='#theTeam'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='#getInvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href="#">EVENTS</a></li>
                <li><a href='#' onclick="about_thing();return false;">BLOG</a></li>
                <li><a href='#' onclick="menu_thing();return false;">PHOTOS & VIDEOS</a></li>
                <li><a href='#' onclick="gallery_thing();return false;">EXPRESS YOURSELF</a></li>
                <li><a href='#' onclick="review_thing();return false;">THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='#'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='#'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='#'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='#'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='#' onclick="visit_thing();return false;">PRESS</a></li>
            </ul>
                
<!-- </nav> -->
	<!-- <nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a id='link' href="/">Home</a></li>
  <li><a id='link' class="dir" href="#">Services</a>
    <ul id='services' class='animated flipInY'>
      
      <li><a id='link' href="">Nails</a>
      <ul>
          <li><a href="/manicure">Manicure Set</a></li>
          <li><a href="/pedicure">Pedicure</a></li>
        </ul>
      </li>
    
      <li><a id='link' href="/feet">Feet</a></li>
      <li><a id='link' href="/massage">Massage</a></li>
      
        <ul>
          <li><a href="#">Deep Menu 1</a>
            <ul>
              <li><a href="#">Sub Deep 1</a></li>
              <li><a href="#">Sub Deep 2</a></li>
              <li><a href="#">Sub Deep 3</a></li>
              <li><a href="#">Sub Deep 4</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
  
    </ul>
  </li>
  <li><a id='link' href="#">About Us</a>
    <ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
    </ul>
  </li>
  <li><a id='link' href="#">Menu</a>
    <ul>
      <li class="dir"><a href="#">Sub Menu 1</a></li>
      <li class="dir"><a href="#">Sub Menu 2 THIS IS SO LONG IT MIGHT CAUSE AN ISSEUE BUT MAYBE NOT?</a>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="#">Category 4</a></li>
          <li><a href="#">Category 5</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a></li>
      <li><a href="#">Sub Menu 5</a></li>
    </ul>
  </li>
  <li><a id='link' href="#">Gallery</a></li>
  <li><a id='link' href="#">Contact Us</a></li>
  
</ul>
</nav> -->
</div>


<div id='eventsSlideShow'>
	<div id='crossfade2'>
 	 <img class = "cone" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/grey-movie-poster_zpsuopukpio.jpg">
     <img class = "ctwo" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/reel%20steel_zpsvm0rnv2f.jpg">
     <img class = "cthree" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/postersilence_zpsgse1tzl1.jpg">
     <img class = "cfour" src = "http://i1301.photobucket.com/albums/ag119/jabattack1/ferris_zpszna9osgz.jpg">
	</div>
</div>

<div id='contactUs'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
	<p id='contactLines1'>
	For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
	</p>
	<p id='contactLines2'>
	For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
	</p>
	<p id='contactLines3'>
	For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
	</p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
	<a href='https://www.facebook.com/moimnewyork' target='_blank'>
	<img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.instagram.com/moimnewyork' target='_blank'>
	<img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
	<a href='https://www.youtube.com/moimmedia' target='_blank'>
	<img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>

</div>



<%= yield %>

</body>
</html>

