<!DOCTYPE html>
<html>
<head>
  <title>MOI'M NYC</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/assets/moimFavicon.png">
<!-- <script src="./app/assets/javascripts/jquery-1.11.2.min.js"></script>
<script src="./app/assets/javascripts/jquery.finaltilesgallery.js"></script>
<script src="./app/assets/javascripts/lightbox2.js"></script> -->
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

<!-- <script src="/assets/javascripts/countUp.js"></script> -->
<!-- <link rel="stylesheet" media="all" href="./app/assets/stylesheet/finaltilesgallery.css" />
<link rel="stylesheet" media="all" href="./app/assets/stylesheet/main.css" />
<link rel="stylesheet" media="all" href="./app/assets/stylesheet/lightbox2.css" /> -->
<!-- <link rel="stylesheet" href="./app/assets/stylesheet/font-awesome.min.css">  -->
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    

</head>
<body>





</body>
</html>




<%= yield %>

</body>
</html>

